kennel.sock

venv/
env/

static/.webassets-cache/
static/gen/
static/uploads/
static/canvas/

database/
tests/
logs/
log/
queued_logs/
backups/

kennel.wsgi
certs/
settings/*.json
settings/*.yaml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
.webassets-cache

# Spyder project settings
.spyderproject

.idea/