.env

conf/nginx/nginx.conf
conf/.env.dev.db
conf/.env.prod.db
conf/.env.dev
conf/.env.prod

docs/~*

# Prevent committing server-side files
kennel.sock

# The per-installation config for flask
instance/
!instance/configuration.py.template

# Frontend
node_modules/

# Virtual environment
venv/
venv_old/
env/

# Certain static files
static/.webassets-cache/
static/gen/
static/uploads/
static/canvas/
static/reports/

# Databases, logs, etc.
database/
logs/
log/
queued_logs/
backups/

kennel.wsgi
certs/
settings/*.json
settings/*.yaml

frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
.webassets-cache

# Spyder project settings
.spyderproject

.idea/