kennel.sock

env/

static/.webassets-cache/
static/gen/
static/corgis/
static/uploads/

templates/corgis/
!templates/corgis/generic.html

database/
main.db
test.db

tests/
logs/
log/
queued_logs/
backups/

kennel.wsgi
certs/
secrets.json
consumer_key.pem

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
.webassets-cache

# Spyder project settings
.spyderproject
