{% extends 'layout.html' %}

{% block title %}Book{% endblock %}

{% block body %}

<h2>Computational Thinking</h2>

<p>
About the course
</p>

<h3>Try it Yourself!</h3>
<p>
Interested in checking out our course? Visit <strong><a href="https://canvas.instructure.com/courses/1133362/">the Example course <span class='glyphicon glyphicon-new-window'></span></a></strong> on Canvas!
</p>

<h3>Get the Materials!</h3>
<p>
Want to use our materials? Contact Dennis Kafura at <a href='mailto:kafura@cs.vt.edu' target="_blank">kafura@cs.vt.edu</a>!
</p>

<h3>More Information</h3>
<p>
More information
</p>

<h3>Learning Objectives</h3>

This course addresses four key objectives in the Quantitative and Computational Thinking domain. 
<ol>
<li>Explain the application of computational or quantitative thinking across multiple knowledge domains.</li>
<li>Apply the foundational principles of computational or quantitative thinking to frame a question and devise a solution in a particular field of study.</li>
<li>Identify the impacts of computing and information technology on humanity.</li>
<li>Construct a model based on computational methods to analyze complex or large-scale phenomenon.</li>
</ol>

The course explores the social impacts of computational systems using a number of case studies that demonstrate how computation creates new capabilities or influences the decision-making of people, organizations, and governments.  Students are asked to identify the potential stakeholders who are affected  in the case study and consider the economic, professional, personal, or organizational pressures that may influence their actions. This aspect of the course is intended to address two learning indicators.
<ol>
<li>Identify ethical issues in a complex context.</li>
<li>Articulate and defend positions on ethical issues in a way that is both reasoned and informed by the complexities of those situations.</li>
</ol>

<h3>Testimonials</h3>
<p>
<ul>
<li>"I really enjoyed this course. I felt very respected by my instructors and that they really wanted me to succeed. <strong>I really enjoyed how this class was structured with a real focus on learning and not just testing</strong>. It allowed me to not have to feel penalized by mistakes and that I really had the freedom to learn without the pressures of exams."</li>
<li>"<strong>I thoroughly enjoyed this course</strong>. I was happy to come to class every Tuesday and Thursday, and I really enjoyed working with my cohort. The work that was done was challenging, but completely doable. The teachers and TA's offered great help, and answered every question that I had to the fullest."</li>
<li>"Computational Thinking might not be my forte, but <strong>I sure learned a lot</strong> about it throughout this course!"</li>
<li>"This course is awesome and I have recommended it to all my friends. I felt <strong>this course exemplifies how education should work</strong>, engaging people in a way that is fun and not too stressful, while still teaching a ton of information."</li>
<li>"I originally signed up for it to fulfill Area 5, or one of my Area 5, and also it sounded like fun...I got an email about this class and it sounded really fun, and instead of just fulfilling an Area 5, it was like, "<strong>You get to do a project that is in your own major</strong>," and all this kind of stuff you get to do is very individual-based. I really liked the appeal of that so I ended up switching into this one. I feel like it's good skills to have in an increasingly technological society."</li>
<li>"<strong>I liked it more than I thought I would</strong>!! And the staff was very very helpful."</li>
</ul>
</p>

<h3>Promotional Video</h3>
<iframe width="480" height="270" src="https://www.youtube.com/embed/dYyis6WLVus" frameborder="0" allowfullscreen></iframe>

<h3>Action Photos</h3>
<p>
Photos
</p>

{% endblock %}