{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'layout.html' %}

{% from 'utilities/assignment_groups.html' import assignment_group_header %}

{% block title %}
Assignment
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

{% assets "blockpy_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "blockpy_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<style>
.embedded-data {
    display: none;
}
.correct-submission {
    background-color: #ded;
}
.incorrect-submission {
    background-color: #edd;
}
.secret-submission {
    background-color: #dde;
}
</style>

{% endblock %}

{% block body %}

<span class='delete-on-load'>Loading! Please wait.</span>

{% if group and group|length > 1 %}
{{ assignment_group_header(group, assignment_id, embed, 'blockpy.load') }}
<script>
    $(document).ready(function() {
        loadNavigation();
    });
</script>
{% else %}
<script>
function markCorrect(args) {}
</script>
{% endif %}

<script>
function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
queryParams = getQueryParams();
DEFAULT_ASSIGNMENT = {
    'settings': {
        'editor': 'Blocks',
        'presentation_mode': (queryParams.presentation == "true"),
    },
    'assignment': {
        'introduction': "Welcome to BlockPy. Try running the code below.",
        'name': "Scratch Canvas",
        'give_feedback': decodeURIComponent(queryParams.give_feedback || ""),
        'starting_code': decodeURIComponent(queryParams.starting_code || ""),
        'on_change': decodeURIComponent(queryParams.on_change || ""),
        'initial_view': queryParams.view || "Blocks",
        'disable_algorithm_errors': false,
        "importable": true,
        'modules': {
            'added': ['Input','Conversion']
        },
        'files': []
    },
    'programs': {
        '__main__': decodeURIComponent(queryParams.code || "")
        //$("#default-body").html()
    }
}
</script>


<!-- Main BlockPy canvas -->
<div id="blockpy-div" style='height:100%'></div>

<script>
$(document).ready(function() {
    blockpy = new BlockPy({
        'blocklyPath': {{ url_for('static', filename='blockly/')|tojson }},
        'attachmentPoint': document.getElementById('blockpy-div'),
        'presentation_mode': (queryParams.presentation == "true"),
    {% if not group %}
        'instructor': (queryParams.mode == "instructor"),
        'disable_algorithm_errors': (queryParams.algorithm_errors == "true"),
        'disable_timeout_errors': (queryParams.timeout_errors == "true"),
        'disable_typed_blocks': (queryParams.typed_blocks == "true"),
        'editor': 'Split',
        'urls': {
            'import_datasets': {{ url_for('blockpy.load_corgis',path='')|tojson }},
            'load_file': {{ url_for('blockpy.load_file')|tojson }},
        }
    {% else %}
        'instructor': {{ 'true' if instructor_mode else 'false'}},
        'completedCallback': function(data) { markCorrect(data.assignment_id) },
        'urls': {
            {% if g.user != None %}
            'save_code': {{ url_for('blockpy.save_code')|tojson }},
            'log_event': {{ url_for('blockpy.save_events')|tojson }},
            'save_assignment': {{ url_for('blockpy.save_presentation')|tojson }},
            'save_success': {{ url_for('blockpy.save_correct')|tojson }},
            'load_assignment': {{ url_for('blockpy.load_assignment')|tojson }},
            'get_history': {{ url_for('blockpy.get_history')|tojson }},
            {% endif %}
            'import_datasets': {{ url_for('blockpy.load_corgis',path='')|tojson }},
            'load_file': {{ url_for('blockpy.load_file')|tojson }},
        }
    {% endif %}
    });
    blockpy.setUserData(
        {{ g.user.id|tojson if g.user != None else -1}},
        {{ course_id|tojson if course_id != None else -1 }},
        {{ group_id|tojson}}
        );
    var server = blockpy.components.server;
    {% if not group %}
    blockpy.setAssignment(DEFAULT_ASSIGNMENT.settings, DEFAULT_ASSIGNMENT.assignment, DEFAULT_ASSIGNMENT.programs);
    {% elif group and request.args.get("assignment_id") == None %}
    server.loadAssignment({{ group[0][0].id }});
    {% else %}
    server.loadAssignment({{ request.args.get("assignment_id")|int}});
    {% endif %}
    altAssignmentChangingFunction = server.loadAssignment.bind(server);
});

</script>

<script>
$(document).ready(function() {
    $('.delete-on-load').remove();
});
</script>

{% endblock %}