{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'layout.html' %}

{% block title %}
Assignment
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

{% assets "blockpy_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "blockpy_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<style>
.embedded-data {
    display: none;
}
</style>

{% endblock %}

{% block body %}

<div id="blockpy-div" style='height:100%'></div>

<div>
</div>

<span class='delete-on-load'>Loading! Please wait.</span>

{% if not group %}
<script>
    $(document).ready(function() {
        queryParams = getQueryParams();
        blockpy = new BlockPy(
            // settings
            {
                'editor': 'Blocks',
                'blocklyPath': {{ url_for('static', filename='blockly/')|tojson }},
                'attachmentPoint': document.getElementById('blockpy-div'),
                'instructor': (queryParams.mode == "instructor"),
                'urls': {
                    'import_datasets': {{ url_for('blockpy.load_corgis',path='')|tojson }},
                }
            },
            // assignment
            {
                'introduction': "Welcome to BlockPy. Try running the code below.",
                'name': "Scratch Canvas",
                'give_feedback': '',
                'starting_code': 'x = 0',
                'initial_view': 'Blocks',
                "importable": true,
                'modules': {}
            },
            // submission
            {},
            // programs
            {
                '__main__': "x = 0\nprint(x)"
                //$("#default-body").html()
            }
        )
    });
    </script>
{% endif %}

{% for assignment, submission in group %}

<!-- Main BlockPy canvas -->
<div id="blockpy-div-{{loop.index}}" style='height:100%'></div>

<script>
/*
Tracking code - safe to delete
*/
localStorage.setItem('user_id', "{{ user_id }}");

$(document).ready(function() {
    blockpy = new BlockPy(
    // settings
            {
                'editor': "{{ 'Text' if assignment.mode|lower == 'text' else 'Blocks' }}",
                'blocklyPath': {{ url_for('static', filename='blockly/')|tojson }},
                'attachmentPoint': document.getElementById('blockpy-div-{{loop.index}}'),
                'instructor': {{ 'true' if instructor_mode else 'false'}},
                'urls': {
                    'save_code': {{ url_for('blockpy.save_code')|tojson }},
                    'log_event': {{ url_for('blockpy.save_events')|tojson }},
                    'save_assignment': {{ url_for('blockpy.save_presentation')|tojson }},
                    'save_success': {{ url_for('blockpy.save_correct')|tojson }},
                    'import_datasets': {{ url_for('blockpy.load_corgis',path='')|tojson }},
                }
            },
            // assignment
            {
                'assignment_id': {{ assignment.id|tojson }},
                'course_id': {{ course_id if course_id != None else submission.course_id|tojson }},
                'student_id': {{ g.user.id|tojson if g.user != None else -1}},
                'introduction': {{ assignment.body|tojson}},
                'name': {{ assignment.name|tojson}},
                'initial_view': "{{ "Text" if assignment.mode.lower() == "text" else "Blocks" }}",
                'give_feedback': {{ assignment.give_feedback|tojson}},
                'parsons': {{ 'true' if assignment.type == 'parsons' else 'false' }}, 
                'starting_code': {{ assignment.starting_code|tojson }},
                {% set settings = assignment.settings|json_load %}
                'importable': {{ "true" if settings.importable else "false" }},
                'modules': {
                    'added': {{ settings.modules.added|tojson if settings.modules else "[]" }},
                    'removed': {{ settings.modules.removed|tojson if settings.modules else "[]"}},
                },
            },
            // submission
            {},
            // programs
            {
                '__main__': {{ submission.code|tojson }},
                'starting_code': {{ assignment.starting_code|tojson }},
                'give_feedback': {{ assignment.give_feedback|tojson }},
            }
        );
});

</script>

{% endfor %}

<script>
$(document).ready(function() {
    $('.delete-on-load').remove();
});

function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
</script>

{% endblock %}