{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'layout.html' %}

{% block title %}
Browse Submissions
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}

<script>

$(document).ready(function() {
});

</script>

<div class="alert alert-danger" id='error-box' role="alert" style="display:none"></div>

<h2>{{ submissions[0][2].title() }}</h2>
Assignment ID: {{ submissions[0][2].id }}<br>
Introduction: {{ submissions[0][2].body|safe }}<br>

{% for submission, user, assignment in submissions %}
<div class='row'>

<div class='col-md-12'>
<h3>{{ user.name() }}</h1>
User Email: {{ user.email }}<br>
User ID: {{ user.id }}<br>
Started: {{ submission.date_created.strftime("%I:%M:%S %p on %b %d, %Y") }}<br>
Last Modified: {{ submission.date_modified.strftime("%I:%M:%S %p on %b %d, %Y") }}<br>
Touches: {{ submission.version }}<br>
Estimated Time Spent: {{ submission.history|round(2) }} minutes<br>
Correct: {{ submission.correct }}<br>
{{ submission.highlighted_code|safe }}<br>
</div>


</div>
{% endfor %}

{% endblock %}