{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'helpers/layout.html' %}

{% block title %}
Browse Submission History
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script src="{{ url_for('static', filename="libs/blockpy_server/common.js") }}"></script>
<script>

// Stupid compatibility hack
const None = null, True=true, False=false;

HISTORY = [
    {% for log in history -%}
    {"name": prettyPrintDateTime({% if log.client_timestamp -%}
                {{ log.client_timestamp|tojson }}
              {%- else -%}
                {{ log.date_created|tojson }}
              {%- endif -%})
             +" - " +
             (REMAP_EVENT_TYPES[{{ log.event_type|tojson }}] || {{ log.event_type|tojson }}),
     "event_label": "{{ log.event_type }}
                     {%- if log.category %}/ {{ log.category }}{% endif -%}
                     {%- if log.label %}/ {{ log.label }}{% endif -%}",
        message:
            {%- if log.event_type.lower() in ("file.edit", "file.create") -%}
                {{ log.message|highlight_python_code|tojson }}
            {%- elif log.event_type.lower() == "intervention" -%}
                {{ (log.label+"\n"+log.message)|tojson }}
            {%- elif log.event_type.lower() == "session.start" -%}
                "<pre>"+JSON.stringify({{ log.message|safe or "{}" }}, null, 2)+"</pre>"
            {%- else -%}
                {{ ("<pre>"+log.message+"</pre>")|tojson }}
            {%- endif -%},
        {%- for key, value in log.items() -%}
            {% if key != "message" %}
            {{ key|tojson }}: {{ value|tojson }},
            {%- endif -%}
        {%- endfor -%}
    },
    {%- endfor %}
];

    $(document).ready(function() {
        let index = 0;
        historyModel = {
            "selected": ko.observable(HISTORY[index]),
            "history": HISTORY
        };
        historyModel.selected.subscribe((newValue) => {
            index = HISTORY.indexOf(newValue);
        });
        historyModel.mostRecent = function() {
            index = 0;
            historyModel.selected(HISTORY[index]);
        };
        historyModel.next = function() {
            index = Math.max(0, index-1);
            historyModel.selected(HISTORY[index]);
        };
        historyModel.previous = function() {
            index = Math.min(HISTORY.length-1, index+1);
            historyModel.selected(HISTORY[index]);
        };
        historyModel.start = function() {
            index = HISTORY.length-1;
            historyModel.selected(HISTORY[index]);
        };

        ko.applyBindings(historyModel);
    });
</script>
{% endblock %}

{% block body %}

    <h1>Browse History</h1>

    <p>User: {{ student.name() }}</p>
    <p>Assignment: {{ assignment.name }}</p>
    <p>Course: {{ course.name }}</p>

    <form class="form-inline">
        <button class="blockpy-history-start btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: start">
            <span class='fas fa-step-backward'></span> Start
        </button>
        <button class="btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: previous">
            <span class='fas fa-backward'></span> Previous
        </button>
        <select class="blockpy-history-selector form-control custom-select mr-2"
                aria-title="History Selector"
                data-bind="options: history, optionsText: 'name', value: selected">
        </select>
        <button class="btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: next">
            <span class='fas fa-forward'></span> Next
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button"
            data-bind="click: mostRecent">
            <span class='fas fa-step-forward'></span> Most Recent
        </button>
    </form>


    <div>
        <!--<p>When: <span data-bind="text: selected().date_created"></span></p>
        <p>Event: <span data-bind="text: selected().event_label"></span></p>-->
    </div>
    <div data-bind="html: selected().message"></div>

{% endblock %}