{% extends 'helpers/layout.html' %}

{% block title %}
Browse Submission History
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script>

HISTORY = [
    {% for log in history -%}
    {"name": "{{ log.date_created }} - {{ log.event_type }}",
        {%- for key, value in log.items() -%}
            {{ key|tojson }}: {{ value|tojson }},
        {%- endfor -%}
    },
    {%- endfor %}
];

    $(document).ready(function() {
        let index = 0;
        historyModel = {
            "selected": ko.observable(HISTORY[index]),
            "history": HISTORY
        };
        historyModel.start = function() {
            index = 0;
            historyModel.selected(HISTORY[index]);
        };
        historyModel.previous = function() {
            index = Math.max(0, index-1);
            historyModel.selected(HISTORY[index]);
        };
        historyModel.next = function() {
            index = Math.min(HISTORY.length-1, index+1);
            historyModel.selected(HISTORY[index]);
        };
        historyModel.mostRecent = function() {
            index = HISTORY.length-1;
            historyModel.selected(HISTORY[index]);
        };

        ko.applyBindings(historyModel);
    });
</script>
{% endblock %}

{% block body %}

    <h1>Browse History</h1>

    <p>User: {{ student.name() }}</p>
    <p>Assignment: {{ assignment.name }}</p>
    <p>Course: {{ course.name }}</p>

    <form class="form-inline">
        <button class="blockpy-history-start btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: start">
            <span class='fas fa-step-backward'></span> Start
        </button>
        <button class="btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: previous">
            <span class='fas fa-backward'></span> Previous
        </button>
        <select class="blockpy-history-selector form-control custom-select mr-2"
                aria-title="History Selector"
                data-bind="options: history, optionsText: 'name', value: selected">
        </select>
        <button class="btn btn-outline-secondary mr-2 btn-sm" type="button"
            data-bind="click: next">
            <span class='fas fa-forward'></span> Next
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button"
            data-bind="click: mostRecent">
            <span class='fas fa-step-forward'></span> Most Recent
        </button>
    </form>


    <div>
        <p>When: <span data-bind="text: selected().date_created"></span></p>
        <p>Event: <span data-bind="text: selected().event_type"></span></p>
        <p>Label: <span data-bind="text: selected().category"></span>
            /
            <span data-bind="text: selected().label"></span></p>
        <p>Message: <pre data-bind="text: selected().message"></pre></p>
    </div>

{% endblock %}