{% extends 'helpers/layout.html' %}

{% from 'helpers/assignment_groups.html' import assignment_group_header %}

{% block title %}
    BlockPy Editor
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

    {% include 'blockpy/editor_includes.html' with context %}

{% endblock %}

{% block body %}

    <span class='delete-on-load'>Loading! Please wait. If this doesn't load, and you are using Safari, then please stop using Safari!</span>

    {% if lti %}
    <script>
    function checkCookies() {
        let cookieEnabled = navigator.cookieEnabled;
        if (!cookieEnabled){
            document.cookie = "testcookie";
            cookieEnabled = document.cookie.indexOf("testcookie")!==-1;
        }
        return cookieEnabled;
    }
    if (!checkCookies()) {
        alert("Cookies appear to be disabled. You might need to disable an ad-blocker, adjust your security settings, or use a different browser (we recommend Chrome).");
    }
    </script>
    {% endif %}

    {% if group and group|length > 1 %}
        {{ assignment_group_header(group, current_assignment_id, embed, 'blockpy.load') }}
        <script>
            $(document).ready(function () {
                loadNavigation();
            });
        </script>
    {% else %}
        <script>
            function markCorrect(args) {
            }
        </script>
    {% endif %}


    <!-- Main BlockPy canvas -->
    <div id="blockpy-div" style='height:100%'></div>
    <div id="extras-div" style="height: 100%">
        <!-- ko if: assignmentType() == 'textbook' -->
        <textbook params="server: server,
                          courseId: courseId,
                          currentAssignmentId: currentTextbookAssignmentId,
                          assignmentGroupId: assignmentGroupId,
                          isInstructor: isInstructor,
                          markCorrect: markCorrect,
                          user: user"></textbook>
        <!-- /ko -->
        <!-- ko if: assignmentType() == 'quiz' -->
        <quizzer params="server: server,
                         courseId: courseId,
                         currentAssignmentId: currentQuizAssignmentId,
                         assignmentGroupId: assignmentGroupId,
                         isInstructor: isInstructor,
                         markCorrect: markCorrect,
                         user: user"></quizzer>
        <!-- /ko -->
        <!-- ko if: assignmentType() == 'reading' -->
        <reader params="server: server,
                        courseId: courseId,
                        currentAssignmentId: currentReadingAssignmentId,
                        assignmentGroupId: assignmentGroupId,
                        isInstructor: isInstructor,
                        markCorrect: markCorrect,
                        asPreamble: false,
                        user: user"></reader>
        <!-- /ko -->
    </div>

    {% if group and group|length > 1 %}
        {{ assignment_group_header(group, current_assignment_id, embed, 'blockpy.load') }}
    {% endif %}

    <script>
        const QUIZZES = {{ quiz_questions|tojson }};
        const READINGS = {{ readings|tojson }};
        const TEXTBOOKS = {{ textbooks|tojson }};

        $(document).ready(function () {
            // Load in Quiz interface
            let loggedInUser = {{ user.encode_json()|tojson if user else "{id:null,email:null,first_name:null,last_name:null}" }};
            server = new frontend.Server({{ course_id or "null" }}, {
            }, {
                users: [loggedInUser],
                courses: []
            });
            mainModel = {
                courseId: {{  course_id or "null" }},
                server: server,
                user: loggedInUser,
                isInstructor: {{  (role in ("owner", "grader")) | tojson }},
                currentQuizAssignmentId: ko.observable(null),
                currentReadingAssignmentId: ko.observable(null),
                currentTextbookAssignmentId: ko.observable(null),
                assignmentType: ko.observable(null),
                assignmentGroupId: {{ (assignment_group_id or None)|tojson }},
                markCorrect: markCorrect
            }
            ko.applyBindings(mainModel, $("#extras-div")[0]);

            // Load in BlockPy interface
            editor = new blockpy.BlockPy({
                // Configuration constants
                'blockly.path': {{ url_for('static', filename='blockly/media/')|tojson }},
                'attachment.point': '#blockpy-div',
                "urls": {
                    "importDatasets": {{ config['CORGIS_URL']|tojson }},
                    'loadAssignment': {{ url_for('blockpy.load_assignment')|tojson }},
                    'instructionsAssignmentSetup': {{ url_for('courses.making_problems')|tojson }},
                    'forkAssignment': {{ url_for('blockpy.fork_assignment')|tojson }},
                    'downloadFile': {{ url_for('blockpy.download_file', external=True)|tojson }},
                    {% if submissions %}
                        'saveAssignment': {{ url_for('blockpy.save_assignment')|tojson }},
                        'loadHistory': {{ url_for('blockpy.load_history')|tojson }},
                        'logEvent': {{ url_for('blockpy.log_event')|tojson }},
                        'saveFile': {{ url_for('blockpy.save_file')|tojson }},
                        'saveImage': {{ url_for('blockpy.save_image')|tojson }},
                        'listUploadedFiles': {{ url_for('blockpy.list_files')|tojson }},
                        'uploadFile': {{ url_for('blockpy.upload_file')|tojson }},
                        'updateSubmission': {{ url_for('blockpy.update_submission')|tojson }},
                        'updateSubmissionStatus': {{ url_for('blockpy.update_submission_status')|tojson }},
                    {% endif %}
                },
                // User information
                "user.id": {{  user_id|tojson }},
                {% if user %}
                    "user.name": {{ user.name()|tojson }},
                {% endif %}
                "user.role": {{ role|tojson }},
                "user.course_id": {{ course_id|tojson }},
                // Group Information
                {% if assignment_group_id != None %}
                    "user.group_id": {{ assignment_group_id|tojson }},
                    'callback.success': markCorrect,
                {% endif %}

                {% if role in ("owner", "grader") %}
                    "display.instructor": true,
                {% endif %}

                {% if read_only %}
                    "display.read_only": true,
                {% endif %}

                {% for name, value in request.args.items() %}
                    {% if name.startswith('settings-') %}
                        "{{ name[9:] }}": {{ value|tojson }},
                    {% endif %}
                {% endfor %}
            });

            Sk.emojiProxy = (part) => `{{ url_for('static', filename='images/emoji/') }}${part.toLowerCase()}.svg`;

            $MAIN_BLOCKPY_EDITOR = editor;

            /* Passcode locking */
            {% if passcode_protected %}
            editor.requestPasscode();
            {% endif %}

            // System for switching assignments
            function loadAssignmentWrapper(id) {
                id = parseInt(id, 10);
                if (QUIZZES.includes(id) || READINGS.includes(id) || TEXTBOOKS.includes(id)) {
                    editor.hide();
                    //$("quizzer").show();
                    //console.log(mainModel.currentAssignmentId(), mainModel.assignmentType());
                    if (QUIZZES.includes(id)) {
                        mainModel.assignmentType('quiz');
                        mainModel.currentQuizAssignmentId(id);
                        mainModel.currentReadingAssignmentId(null);
                        mainModel.currentTextbookAssignmentId(null);
                    } else if (READINGS.includes(id)) {
                        mainModel.assignmentType('reading');
                        mainModel.currentReadingAssignmentId(id);
                        mainModel.currentQuizAssignmentId(null);
                        mainModel.currentTextbookAssignmentId(null);
                    } else if (TEXTBOOKS.includes(id)) {
                        mainModel.assignmentType('textbook');
                        mainModel.currentReadingAssignmentId(null);
                        mainModel.currentQuizAssignmentId(null);
                        mainModel.currentTextbookAssignmentId(id);
                    }
                } else {
                    //$("quizzer").hide();
                    editor.show();
                    editor.loadAssignment(id);
                    mainModel.currentQuizAssignmentId(null);
                    mainModel.currentReadingAssignmentId(null);
                    mainModel.currentTextbookAssignmentId(null);
                    mainModel.assignmentType(null);
                }
            }

            // And/Or load assignment data explicitly passed in
            {% if assignment_data %}
                editor.loadAssignmentData_({{ assignment_data|tojson }});
            // Load initial assignment
            {% elif current_assignment_id is defined and current_assignment_id != None %}
                loadAssignmentWrapper({{ current_assignment_id }});
                //editor.loadAssignment({{ current_assignment_id }});
                altAssignmentChangingFunction = loadAssignmentWrapper; //editor.loadAssignment.bind(editor);
            {% endif %}

            // Snippet that handles intelligent resizing
            {% if embed %}
                function fixCanvasSize() {
                    window.parent.postMessage(JSON.stringify({
                        subject: "lti.frameResize",
                        "height": $("body").height()+50
                    }), '*')
                }
                try {
                    fixCanvasSize();
                    var resizeId;
                    var ro = new ResizeObserver(entries => {
                        for (let entry of entries) {
                            if (entry.target === document.body) {
                                clearTimeout(resizeId);
                                resizeId = setTimeout(fixCanvasSize, 500);
                            }
                        /*const cr = entry.contentRect;
                        console.log('Element:', entry.target);
                        console.log(`Element size: ${cr.width}px x ${cr.height}px`);
                        console.log(`Element padding: ${cr.top}px ; ${cr.left}px`);*/
                        }
                    });

                    // Observe one or multiple elements
                    ro.observe(document.body);

                } catch(e) {
                    console.error(e);
                }
            {% endif %}

            // Remove the loading screen
            $('.delete-on-load').remove();

            // window.parent.postMessage(JSON.stringify({subject: "lti.fetchWindowSize"}), "*")
            // window.addEventListener('message', function(event) { console.log(JSON.parse(event.data)); })
        });
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>

{% endblock %}