<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function executeCode(code) {
            const blob = new Blob([code], {type: 'application/javascript'});
            const worker = new Worker(URL.createObjectURL(blob));
            // Proxy messages back to parent
            worker.addEventListener('message', (e) => {
                console.log("Iframe Web Worker Heard:", e)
                e = JSON.parse(JSON.stringify(e.data));
                parent.postMessage(e, '*')
            });
        }

        let latestWebWorker = null;
        addEventListener("message", (event) => {
            const data = event.data;
            console.log("Iframe heard:", event);
            if (data.type === 'execute') {
                if (latestWebWorker !== null) {
                    latestWebWorker.terminate();
                }
                executeCode(data.code);
            } else if (data.type === 'terminate') {
                if (latestWebWorker !== null) {
                    latestWebWorker.terminate();
                }
            }
        });
    </script>
</head>
<body>

</body>
</html>