{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'layout.html' %}

{% block title %}
Assignment
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

{% assets "blockpy_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "blockpy_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<style>
.embedded-data {
    display: none;
}
</style>

{% endblock %}

{% block body %}

<div id="blockpy-div" style='height:100%'></div>

<div>
</div>

<span class='delete-on-load'>Loading! Please wait.</span>

<script>
    $(document).ready(function() {
        queryParams = getQueryParams();
        blockpy = new BlockPy(
            // settings
            {
                'editor': 'Blocks',
                'blocklyPath': {{ url_for('static', filename='blockly/')|tojson }},
                'attachmentPoint': document.getElementById('blockpy-div'),
                'instructor': (queryParams.mode == "instructor"),
                'urls': {
                    'import_datasets': {{ url_for('blockpy.load_corgis',path='')|tojson }},
                    'walk_old_code': {{ url_for('blockpy.regenerate_walk',path='')|tojson }},
                    'log_event': {{ url_for('blockpy.regenerate_events',path='')|tojson }},
                }
            },
            // assignment
            {
                'introduction': "Welcome to BlockPy. Try running the code below.",
                'name': "Scratch Canvas",
                'give_feedback': '',
                'starting_code': 'x = 0',
                'initial_view': 'Blocks',
                'disable_algorithm_errors': false,
                "importable": true,
                'modules': {"removed": [], "added": ["Data - Publishers", "Data - Weather", "Data - Earthquakes", "Data - Parking", "Data - Classics", "Data - Tate", "Data - Broadway", "Data - School Scores"]}
            },
            // submission
            {},
            // programs
            {
                '__main__': "x = 0\nprint(x)"
                //$("#default-body").html()
            }
        )
    });
</script>

<script>
$(document).ready(function() {
    $('.delete-on-load').remove();
});

function getQueryParams(){
    try{
        url = window.location.href;
        query_str = url.substr(url.indexOf('?')+1, url.length-1);
        r_params = query_str.split('&');
        params = {}
        for( i in r_params){
            param = r_params[i].split('=');
            params[ param[0] ] = param[1];
        }
        return params;
    }
    catch(e){
       return {};
    }
}
</script>

{% endblock %}