{% macro assignment_group_header(group, assignment_id, embed, page_type) %}
{% set sorted_group = group %}

{% set ns = namespace(found=false) %}
{% set ns.any_secretive = False %}
{% for assignment, submission in sorted_group %}
    {% set secret = assignment|get_setting("secret") %}
    {% set ns.any_secretive = ns.any_secretive or secret %}
{% endfor %}

<script>
    /*
     * Increment completed counter by 1
     * Disable next/first/etc. butttons when at end
     * Display message when completed all
     */
    function markCorrect(assignmentId) {
        var opt = $("#assignment-selector option[value='"+assignmentId+"']");
        if (!opt.hasClass("correct-submission")) {
            {% if ns.any_secretive %}
            opt.html("&#10004; "+opt.html());
            opt.removeClass("incorrect-submission");
            opt.addClass("correct-submission");
            $("#assignment-selector-next").removeClass("btn-default").addClass("btn-success");
            $('#completion-rate').html(parseInt($('#completion-rate').html(), 10)+1);
            {% else %}
            $('#completion-rate').html("??");
            {% endif %}
        }
    }
    var URL_MAP = {
        {% for assignment, submission in sorted_group %}
            {{ assignment.id }}: "{{ url_for(page_type, 
                                        assignment_group_id= request.args.get("assignment_group_id"),
                                        assignment_id=assignment.id,
                                        embed=embed)|safe }}",
        {% endfor %}
    };
    function loadNavigation() {
        var loadNewAssignment = function() {
            var id = $("#assignment-selector").val();
            if (typeof altAssignmentChangingFunction == "undefined") {
                document.location.href = URL_MAP[id];
            } else {
                altAssignmentChangingFunction(id);
            }
        }
        $("#assignment-selector").change(function() {
            loadNewAssignment();
        });
        $("#assignment-selector-first").click(function() {
            var original = $("#assignment-selector").val();
            if (original != {{ sorted_group[0][0].id }}) {
                $("#assignment-selector").val({{ sorted_group[0][0].id }});
                loadNewAssignment();
            }
        });
        $("#assignment-selector-last").click(function() {
            var original = $("#assignment-selector").val();
            if (original != {{ sorted_group[-1][0].id }}) {
                $("#assignment-selector").val({{ sorted_group[-1][0].id }});
                loadNewAssignment();
            }
        });
        $("#assignment-selector-next").click(function() {
            var current = $("#assignment-selector > option:selected");
            var next = current.next('option');
            if (next.length) {
                current.prop("selected", false);
                next.prop("selected", true);
                loadNewAssignment();
            }
        });
        $("#assignment-selector-back").click(function() {
            var current = $("#assignment-selector > option:selected");
            var prev = current.prev('option');
            if (prev.length) {
                current.prop("selected", false);
                prev.prop("selected", true);
                loadNewAssignment();
            }
        });
        // click to expand
        function setAssignmentSelectorExpansion(state) {
            if (state) {
                var length = Math.min(5, $('#assignment-selector option').length);
                $("#assignment-selector").attr("size", length.toString());
                $("#assignment-selector").css("vertical-align", "top");
            } else {
                $("#assignment-selector").attr("size", "1");
                $("#assignment-selector").css("vertical-align", "middle");
            }
        }
        var state = localStorage.getItem("blockpy_assignmentSelectorExpanded")=="true";
        setAssignmentSelectorExpansion(state);
        $("#completion-box").click(function() {
            state = !(localStorage.getItem("blockpy_assignmentSelectorExpanded")=="true");
            setAssignmentSelectorExpansion(state);
            localStorage.setItem("blockpy_assignmentSelectorExpanded", (state).toString());
        });
    }
</script>

<div id='test'>
<div class='row' style='border: 1px solid #faebcc; background-color: #fcf8e3; margin-right: 0px'>
    <div class='col-md-12 col-sm-12 col-xs-12'>
        <div class='center-block'>
        <button type="button" class='btn btn-default btn-sm' id='assignment-selector-first'>
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            First
        </button>
        
        <button type="button" class='btn btn-default btn-sm' id='assignment-selector-back'>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back
        </button>
        
        <select id='assignment-selector'>
        {% for assignment, submission in sorted_group %}
            <option value='{{ assignment.id }}' 
                    {% if assignment.id == assignment_id|int%}selected{% endif %}
                    class='
                    {%- if ns.any_secretive -%}
                        secret-submission
                    {%- elif submission.correct -%}
                        correct-submission
                    {%- else -%}
                        incorrect-submission
                    {%- endif -%}'>
                {% if submission.correct and not ns.any_secretive %} &#10004; {% endif %} {{ assignment.name }}
            </option>
        {% endfor %}
        </select>
        <span id='completion-box'>(<span id='completion-rate'>
                {%- if not ns.any_secretive -%}
                {{- (sorted_group|map(attribute='1.correct')|sum) -}}
                {%- else -%}
                ??
                {%- endif -%}
            </span>/{{(sorted_group|length)}} completed)
        </span>
        
        <button type="button" class='btn btn-default btn-sm' id='assignment-selector-next'>
            Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
        
        <button type="button" class='btn btn-default btn-sm' id='assignment-selector-last'>
            Last <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </button>
        </div>
    </div>
</div>
</div>
{% for assignment, submission in sorted_group %}
{% endfor %}
<script>
test = $("#test").html();
</script>

{% endmacro %}