<h1>Worked Example: Pet Count</h1>

<h2 id="0-read-problem">0) Read Problem</h2>
<p><i>Write a function called <code>count_pets</code> that consumes a list of strings of pet types owned and returns the number of each type of pet as a dictionary. Use the Dictionary Counting pattern. Call your function with the following list to test it.</i></p>
{% filter highlight_python_code(False) %}
["Dog", "cat", "Cat", "Snake", "mouse", "snake", "dog", "dog"]
{% endfilter %}
<p><i>Notice the list is written somewhat sloppy. The capitalization is inconsistent. Your function needs to be able to fix this so that <code>"Dog"</code> and <code>"dog"</code> go into the same dictionary entry.</i></p>

<h2 id="1-interpret-the-problem">1) Interpret the Problem</h2>
<p>This problem requires us to write a function that uses the Dictionary Counting pattern to create a dictionary that maps pet type to number of pets of that type. The problem also says the words in the list can have inconsistent capitalization; our function has to treat two of the same words as one key in the dictionary.</p>

<h2 id="2-write-test">2) Write Test</h2>
<p>Once we understand the problem, it helps to think of the possible cases we can test. If we do these first, we can run our code as we go to make sure we're catching every possibility.</p>
<p>Here is a basic case with a list of strings with consistent capitalization.</p>
{% filter highlight_python_code(False) %}
pets1 = ["dog", "cat", "snake", "dog", "lizard", "cat", "cat"]
count_pets(pets1)
# => "{"DOG": 2, "CAT": 3, "SNAKE": 1, "LIZARD": 1]
{% endfilter %}

<p>The case given in the problem, where the capitalization is inconsistent</p>
{% filter highlight_python_code(False) %}
pets2 = ["Dog", "cat", "Cat", "Snake", "mouse", "snake", "dog", "dog"]
count_pets(pets2)
# => "{"DOG": 3, "CAT": 2, "SNAKE": 2, "MOUSE": 1]
{% endfilter %}

<p>A case with an empty list</p>
{% filter highlight_python_code(False) %}
count_pets([])
# => "{}"
{% endfilter %}


<h2 id="3-create-function-header">3) Create function header</h2>
<p>Our function should be called <code>count_pets</code> and takes one parameter. The parameter holds a list of strings representing types of pets so good names would be <code>pets</code> or <code>list_of_pets</code>.</p>
{% filter highlight_python_code(False) %}
def count_pets(pets): 
    ...
{% endfilter %}

    
<h2 id="4-initialize-the-dictionary">4) Initialize the Dictionary</h2>
<p>According to the Dictionary Counting pattern, we need to create an empty dictionary to hold entries.</p>
{% filter highlight_python_code(False) %}
pets_count = {}
{% endfilter %}


<h2 id="5-iterate-over-the-list">5) Iterate over the list</h2>
<p>Next in the Dictionary Counting pattern, we check each entry in the pets list using a <code>for</code> loop. This <code>for</code> loop will look at every string in the list, one at a time. The <code>item</code> variable from the pattern is the variable that will hold each value in the list as your loop repeats. Since we have a <code>pets</code> list, we should name our item variable <code>pet</code>.</p>
{% filter highlight_python_code(False) %}
for pet in pets:
    ...
{% endfilter %}

    
<h2 id="6-normalizing-strings">6) Normalize Strings</h2>
<p>Since the strings in the list could have inconsistent capitalization, we need a way to "normalize" the data. In programming, "normalize" usually means to take data that is in some way inconsistent and change it in a way that makes it easier to process.</p>
<p>The easiest way to normalize strings that have inconsistent capitalization is to change them all to the same capitalization. This can be done using the <code>upper</code> or <code>lower</code> methods that return the string in all caps and all lowercase, respectively. Since <code>"Dogs".upper()</code> is <code>"DOGS"</code> and <code>"dogs".upper()"</code> is also <code>"DOGS"</code>, these two strings can now be seen as the same.</p>
<p>It doesn't matter which of these we use, so we'll use <code>upper</code>. Because strings are immutable in Python, we need to assign the result of the method call back to the string variable.</p>
{% filter highlight_python_code(False) %}
pet = pet.upper()
{% endfilter %}


<h2 id="7-implementing-the-dictionary-count-pattern">7) Handle Dictionary Membership</h2>
<p>In the Dictionary Counting Pattern, there is a test inside the loop to determine if the potential key is already present in the dictionary (using the dictionary membership operator <code>in</code>). If the dictionary already contains a key matching the current pet, we increment the value of the counter value for that key.</p>
{% filter highlight_python_code(False) %}
if pet in pets_count:
    pets_count[pet] = pets_count[pet] + 1
{% endfilter %}

<p>Otherwise if the key doesn't exist, we create it with an initial value of 1:</p>
{% filter highlight_python_code(False) %}
else: 
    pets_count[pet] = 1
{% endfilter %}

<p>Notice we use pet as the key. This makes sure that we're not adding "dog" and "Dog" as separate keys. Both string will become a single key "DOG".</p>

<h2 id="8-returning-the-result">8) Returning the Result</h2>
<p>Once our loop finishes, all we have left to do is return the resulting dictionary.</p>
{% filter highlight_python_code(False) %}
return pets_count
{% endfilter %}


<h2 id="solution">Solution</h2>
<p>With all the pieces put together, we get our solution, which passes the tests we wrote when run!</p>
{% filter highlight_python_code(False) %}
def count_pets(pets): 
    pets_count = {}
    for pet in pets:
        pet = pet.upper()
        if pet in pets_count:
            pets_count[pet] = pets_count[pet] + 1 
        else: 
            pets_count[pet] = 1

    return pets_count

# Tests
pets1 = ["dog", "cat", "snake", "dog", "lizard", "cat", "cat"]
count_pets(pets1)
# => "{"DOG": 2, "CAT": 3, "SNAKE": 1, "LIZARD": 1]

pets2 = ["Dog", "cat", "Cat", "Snake", "mouse", "snake", "dog", "dog"]
count_pets(pets2)
# => "{"DOG": 3, "CAT": 2, "SNAKE": 2, "MOUSE": 1]

count_pets([])
# => "{}"
{% endfilter %}
