{% extends 'helpers/layout.html' %}

{% block title %}
Review Editor: {{ course.name }}
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function getCurrentValuesAsUrl() {
    const baseUrl = new URL({{ url_for('grading.review_editor')|tojson }},
        window.location.origin);
    const selectedCourse = $("#search-courses").val();
    const selectedStudent = $("#search-students").val();
    const selectedAssignment = $("#search-assignments").val();
    const sortCoursesBy = $("#sort-courses-by").val();
    const sortStudentsBy = $("#sort-students-by").val();
    const params = {};
    if (selectedCourse) {
        params['course_id'] = selectedCourse;
    }
    if (selectedStudent) {
        params['student_id'] = selectedStudent;
    }
    if (selectedAssignment) {
        params['assignment_id'] = selectedAssignment;
    }
    if (sortCoursesBy) {
        params['sort_courses_by'] = sortCoursesBy;
    }
    if (sortStudentsBy) {
        params['sort_students_by'] = sortStudentsBy;
    }
    baseUrl.search = new URLSearchParams(params).toString();
    return baseUrl.toString();
}

$(function() {
    $(".selection-menu").on("change", function(i, v) {
        if (i.target.value !== "") {
            window.location.href = getCurrentValuesAsUrl();
        }
    });
});


</script>
{% endblock %}

{% block body %}

    <h1>Manually Grade Submission</h1>

    <p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course: <code>{{ course.name }}</code></a></p>
    <div class="row">
        <div class="col-md-8">

            <label>Course:
            <select id="search-courses" class="selection-menu form-control">
                <option value=""></option>
                {% for course in available_courses %}
                <option value="{{ course.id }}"
                {%- if course.id == course_id %} selected {%- endif %} >{{ course.name }} ({{ course.id }})</option>
                {% endfor %}
            </select>
            </label>
            <br><br>

            <label>Student:
            <select id='search-students' class="selection-menu form-control">
                <option value=''></option>
                {% for student in students %}
                <option value='{{ student.id }}'
                {%- if student.id == student_id %} selected
                {%- endif %} >
                    {{ student.last_name +", " + student.first_name if sort_students_by == "last_name" else student.name() }}
                    ({{ student.email }})</option>
                {% endfor %}
            </select>
            </label>
            <br><br>

            <label>Assignment:
            <select id='search-assignments' class="selection-menu form-control">
            <option value=''></option>
            {% for group, assignments in assignments_by_group.items() %}
                {% if group == None %}
                    <optgroup label="Ungrouped">
                {% else %}
                    <optgroup label="{{ group }}">
                {% endif %}
                {% if assignments %}
                {% for assignment in assignments %}
                    <option value='{{ assignment.id }}'
                    {%- if assignment.id == assignment_id %} selected
                    {%- endif %} >{{ assignment.title() }}</option>
                {% endfor %}
                {% endif %}
                </optgroup>
            {% endfor %}
            </select>
            </label>
            <br><br>
        </div>

        <div class="col-md-4">
            <label>Sort Courses by:
            <select id="sort-courses-by" class="selection-menu form-control">
                <option value="name" {%- if sort_courses_by == "name" %} selected {%- endif %}>Name</option>
                <option value="date_created" {%- if sort_courses_by == "date_created" %} selected {%- endif %}>Date Created</option>
            </select>
            </label>
            <br><br>

            <label>Sort Students by:
            <select id="sort-students-by" class="selection-menu form-control">
                <option value="last_name" {%- if sort_students_by == "last_name" %} selected {%- endif %}>Last Name</option>
                <option value="first_name" {%- if sort_students_by == "first_name" %} selected {%- endif %}>First Name</option>
                <option value="email" {%- if sort_students_by == "email" %} selected {%- endif %}>Email</option>
            </select>
            </label>
            <br><br>

        </div>
    </div>

    {% if student and assignment and course %}
    {% if not has_submission %}
    <p>The student {{ student.name() }} (<code>{{ student.id }}</code>)
        does NOT have a submission
        for assignment {{ assignment.title() }} (<code>{{ assignment.id }}</code>)
        in course {{ course.name }} (<code>{{ course.id }}</code>)
        .</p>
    {% else %}
    <p>
        The student {{ student.name() }} (<code>{{ student.id }}</code>)
        has a submission for assignment {{ assignment.title() }} (<code>{{ assignment.id }}</code>)
        in course {{ course.name }} (<code>{{ course.id }}</code>)
        .
    </p>
    {% if assignment.type.lower() == "blockpy" %}
        {% include "reports/blockpy.html" with context %}
    {% elif assignment.type.lower() == "maze" %}
        {% include "reports/maze.html" with context %}
    {% elif assignment.type.lower() == "reading" %}
        {% include "reports/reading.html" with context %}
    {% elif assignment.type.lower() == "quiz" %}
        {% include "reports/quiz.html" with context %}
    {% elif assignment.type.lower() == "java" %}
            {% include "reports/java.html" with context %}
    {% elif assignment.type.lower() == "textbook" %}
        {% include "reports/textbook.html" with context %}
    {% elif assignment.type.lower() == "typescript" %}
            {% include "reports/typescript.html" with context %}
    {% else %}
        Unknown assignment type
    {% endif %}
    {% endif %}
        {% else %}
        <p>Choose a course, assignment, and student.</p>
    {% endif %}


{% endblock %}