{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="BlockPy">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:title" content="BlockPy"/>
    <meta property="og:site_name" content="BlockPy Server"/>
    <meta property="og:url" content="{{ request.headers['Host'].split(':')[0] }}"/>
    <meta property="og:description"
          content="BlockPy is a web-based Python environment that lets you work with blocks, text, or both. Designed for Data Science and equipped with powerful tools like the State Explorer and Guided Feedback, the goal of BlockPy is to let you solve authentic, real-world problems."/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type=text/javascript>
        // Use $SCRIPT_ROOT to access all URLS on the server
        window.$URL_ROOT = {{ request.url_root|tojson|safe }};
        <!-- TODO: This needs to be able to handle missing access_token -->
        window.accessToken = {{ (g.access_token or "")|tojson }}
        
        window.URLS_UPDATE_SUBMISSION = "{{ url_for('blockpy.update_submission') }}";
    </script>

    {% assets "libs_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "skulpt_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "libs_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <script type="text/javascript" src="{{  url_for('static', filename='libs/blockpy_server/frontend.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/blockpy_server/frontend.css') }}">

    <style>
        {% block extracss %}
        {% endblock %}
    </style>

    {% block extrahead %}
    {% endblock %}

    <script type="text/javascript">
        {% block extrajs %}
        {% endblock %}

        {% if not reduced_layout %}
            $(document).ready(function () {
                $("#{{request.endpoint|replace('.', '\\\\.')}}").parent().addClass("active");
            });

            $(function () {
                $('[data-toggle="popover"]').popover();
            });
        {% endif %}
    </script>

    <script>
        // TODO: Extract this logic into the frontend.js (site/core.js)

        function switchVisible(submissionId, showHide) {
            $(`#h-${submissionId}-start`).toggle(!showHide);
            $(`#h-${submissionId}-end`).toggle(showHide);
        }
        function logAndAlert(error, args, context) {
            message = "There was an error while transmitting a submission:\n" +
                 context.join(", ") + "\n" +
                (error instanceof String ? error : 
                    (('message' in error ? error.message +"\n" : "") 
                    + "\nFull response:\n" + JSON.stringify(error)));
            console.error(error, args);
            alert(message);
        }
        function regrade(element, submission_id, hard) {
            const assignmentName = element.getAttribute('data-assignment-name');
            const userName = element.getAttribute('data-user-name');
            console.log(assignmentName, userName);
            const firstChild = element.firstElementChild;
            let url = "{{ url_for('grading.update_grading_status') }}?submission_id="+submission_id;
            if (hard) {
                url = "{{ url_for('blockpy.update_submission') }}?submission_id="+submission_id;
            }
            {% if request.values.get('resubmit') == 'hard' %}
            url = "{{ url_for('blockpy.update_submission') }}?submission_id="+submission_id;
            {% endif %}
            //console.log(this, element, submission_id);
            firstChild.style.backgroundColor = 'white';
            firstChild.style.color = null;
            fetch(url, {method: 'POST'}).then((response) => {
                return response.json()
            }).then(response => {
                if (response.success) {
                    firstChild.className = "green-check-mark";
                    firstChild.innerHTML = "&#10004;";
                } else {
                    firstChild.className = "red-x";
                    firstChild.innerHTML = "&#10060;"
                    logAndAlert(response.message, arguments, [userName, assignmentName]);
                }
                firstChild.style.backgroundColor = 'transparent';
            }).catch((error) => {
                firstChild.style.backgroundColor = 'red';
                logAndAlert(error, arguments, [userName, assignmentName]);
            });
        }

        function estimateDuration(element, submission_id) {
            let url = "{{ url_for('blockpy.estimate_duration') }}?submission_id="+submission_id;
            element.style.backgroundColor = 'white';
            fetch(url, {method: 'GET'}).then((response) => {
                return response.json()
            }).then(response => {
                if (response.success) {
                    element.className = "green-check-mark";
                    element.innerHTML = forHumans(response.duration);
                } else {
                    element.className = "red-x";
                    element.innerHTML = "&#10060;"
                }
                element.style.backgroundColor = 'transparent';
            }).catch(() => {
                element.style.backgroundColor = 'red';
                console.error(arguments);
            }).finally(() => {
            });
        }

        /**
         * Translates seconds into human readable format of seconds, minutes, hours, days, and years
         *
         * @param  {number} seconds The number of seconds to be processed
         * @return {string}         The phrase describing the amount of time
         */
        function forHumans ( seconds ) {
            if (!seconds) {
                return '0 seconds';
            }
            var levels = [
                [Math.floor(seconds / 31536000), 'years'],
                [Math.floor((seconds % 31536000) / 86400), 'days'],
                [Math.floor(((seconds % 31536000) % 86400) / 3600), 'hours'],
                [Math.floor((((seconds % 31536000) % 86400) % 3600) / 60), 'minutes'],
                [Math.floor((((seconds % 31536000) % 86400) % 3600) % 60), 'seconds'],
            ];
            var returntext = '';

            for (var i = 0, max = levels.length; i < max; i++) {
                if ( levels[i][0] === 0 ) continue;
                returntext += ' ' + levels[i][0] + ' ' + (levels[i][0] === 1 ? levels[i][1].substr(0, levels[i][1].length-1): levels[i][1]);
            };
            return returntext.trim();
        }
        </script>


        <script>

        function inIframe () {
            try {
                return window.self !== window.top;
            } catch (e) {
                return true;
            }
        }
        function relaunchInWindow(targetUrl) {
            if (!targetUrl) {
                targetUrl = {{ url_for('assignments.load', _external=True,grade_mode='dashboard')|tojson }};
            }
            window.parent.postMessage(
              {
                subject: 'requestFullWindowLaunch',
                data: {
                  url: targetUrl,
                  placement: 'course_navigation',
                  launchType: 'new_window',

                  launchOptions: {
                    width: 1000,
                    height: 800,
                  },
                },
              },
              '*'
            )
        }
        </script>


</head>
<body>

{% if not reduced_layout %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img alt="BlockPy Brand"
                     role='presentation'
                     src="{{ url_for('static', filename='images/blockpy-puzzle-logo.png') }}">
            </a>
            <a class="navbar-brand" href="{{ url_for('index') }}">BlockPy</a>
            <button type="button" class="navbar-toggler collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" role="presentation"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id='index' href="{{ url_for('index') }}">Home</a>
                    </li>
                    {% if g.user %}
                        <li class="nav-item">
                            <a class="nav-link" id='courses.index' href="{{ url_for('courses.index') }}">Courses</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id='blockpy.index' href="{{ url_for('blockpy.load') }}">Try Editor</a>
                    </li>
                    {% if g.user and g.user.is_admin() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
                {% if g.user and g.user.anonymous %}
                    <a tabindex="0" role="button" type="button" class="navbar-text btn btn-danger mr-4 text-white"
                            data-trigger="focus"
                        data-toggle="popover" title="Guest Account" data-content="You are NOT logged in as a regular user. Your work will not be saved and graded. Please use the buttons to the right to login properly!">
                        <span class="fas fa-exclamation-circle"></span>
                        Guest Account
                    </a>
                {% endif %}
                <form class="form-inline">
                    {% if g.user and not g.user.anonymous %}
                        <span class="navbar-text">
                        Signed in as {{ g.user.name() }}
                            <a href="{{ url_for('security.logout') }}"
                               class="navbar-link">(log out)</a>
                        </span>
                    {%  elif config.PREFERRED_LOGIN %}
                        <a class="btn mr-2 btn-light btn-sm"
                           href="{{ config.PREFERRED_LOGIN }}">Log in via Canvas</a>
                    {% else %}
                        <a class="btn mr-2 btn-light btn-sm"
                           href="{{ url_for('security.login') }}">Log in</a>
                        <a class="btn btn-light btn-sm"
                           href="{{ url_for('security.register') }}">Register</a>
                    {% endif %}
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endif %}

{% with messages = get_flashed_messages() %}
    <script>
        {% for message in messages %}
            console.error("Flask Message:", {{ message|tojson }});
        {% endfor %}
    </script>
{% endwith %}


<div class="overlay" style="display:none"></div>

<div class="container-fluid" role='main'>
    {% block body %}
    {% endblock %}
</div>

{% if not reduced_layout %}
<!-- begin footer -->
<hr/>
<footer class="footer" style="margin-top:20px;">
    <div class="container-fluid">
        <p class="pull-right">
            {% if g.user %}
                {% if g.user.anonymous %}
                    You are a guest user<span> ({{ g.user.first_name }})</span>
                {% else %}
                    You are {{ g.user.name() }}<span> ({{ g.user.email }})</span>
                {% endif %}
                {%  if g.course %}
                    <span>in {{ g.course.name }}</span>
                {% endif %}
                | <a href="#">Back to top</a>
            {% else %}
                <span>Not logged in</span> | <a href="#">Back to top</a>
            {% endif %}
        </p>
        <p>
            <small>
                &copy; Copyright 2019 <a href="https://acbart.com">Austin Cory Bart</a>, Luke Gusukuma, Dennis Kafura.
            </small>
        </p>
    </div>
</footer>
<!-- end footer -->
{% endif %}

</body>

</html>
