{% macro render_submission_details(submission, is_grader, hide=False) %}

<table class="table table-sm table-bordered table-condensed table-striped table-hover">
<thead>
    <tr>
        <th>Submission</th>
        <th>Grading</th>
        <th>Score Status</th>
        {% if not hide or is_grader %}<th>Final Score</th>{% endif %}
        <th>Created</th>
        <th>Edited</th>
        <th>Submitted</th>
        <th>Graded</th>
        {% if submission.date_due %}<th>Due</th>{% endif %}
</tr>
</thead>
<tbody>
<tr>
    <td id="summary-submission-status-{{ submission.id }}">{{ submission.human_submission_status() }}</td>
    <td id="summary-grading-status-{{ submission.id }}">{{ submission.human_grading_status() }}</td>
    <td id="summary-score-status-{{ submission.id }}">{{ submission.full_status(not is_grader) }}</td>
    {% set final_score, final_reasons = submission.penalized_full_score() %}
    {% if not hide or is_grader %}
    <td title={{ ("The actual score given to this submission, incorporating any late penalties and human reviews. " + final_reasons|join('\n<br>\n'))|tojson }}>{{ final_score }}</td>
    {% endif %}
    <td title="{{ submission.date_created }}">{{ submission.date_created| date_description }}</td>
    <td title="{{ submission.date_modified }}">{{ submission.date_modified| date_description }}</td>
    <td title="{{ submission.date_submitted }}">{{ submission.date_submitted| date_description }}</td>
    <td title="{{ submission.date_graded }}">{{ submission.date_graded| date_description }}</td>
    {% if submission.date_due %}<td title="{{ submission.date_due }}">{{ submission.date_due| date_description }}</td>{% endif %}
</tr>
</tbody>
</table>
{% endmacro %}