<!-- Style -->
<style>
.highlighttable pre {
    font-size: 15px;
}
.highlighttable tr:first-child {
    vertical-align: top;
}
td.code div.highlight {
    max-width: 500px;
    overflow-x: auto;
}
td.comment-column {
    vertical-align: top;
}
span.line-review-quick-button {
    padding: 0;
    margin: 0;
    line-height: 125%;
    font-size: 15px;
    display: block;
    color: #EEE;
    position: relative;
}
span.line-review-quick-button:hover {
    color: darkgray;
}
span.line-review-quick-button:active {
    color: black;
}

.draft-comment {
    font-style: italic;
}

div.line-review-box {
    position: relative;
}

table.review-report td:last-child {
    text-align: right;
}

.draft-review {
    border: 1px solid lightgray;
    padding: 4px;
    background-color: #EEE;
}

.static-popover {
    position: absolute;
    min-width: 500px;
}
.static-popover.expanded {

}
.static-popover.collapsed {
    min-width: 300px;
}
.static-popover .arrow {
    top: -1px;
}

.static-popover.inactive {
    border: 0;
}

.popover-header-sm {
    padding: 1px .5rem;
}

.popover-control {
    padding-top: .25rem;
}

</style>

<!-- Scripts -->

<script>

    let AUTHOR_ID = {{ g.user.id|tojson }};
    let SUBMISSION_ID = {{ submission.id|tojson }};
    let COURSE_ID = {{ submission.course_id|tojson }};
    let ASSIGNMENT_VERSION = {{ assignment.version|tojson }};
    let SUBMISSION_VERSION = {{ submission.version|tojson }};

    let SERVER_URLS = {
        REVIEW_URL: {{ url_for('grading.review_api')|tojson }}
    };

    ko.components.register('individual-review-editor', {
        template: { element: "individual-review-editor-template" }
    });

    ko.components.register('individual-review-show', {
        template: { element: "individual-review-show-template"}
    });

    function findReviewByLocation(reviews, location) {
        reviews = reviews().filter((review) => parseInt(review.location()) === location);
        if (reviews.length) {
            return reviews[0];
        } else {
            return null;
        }
    }

    ko.components.register('line-review', {
        viewModel: function(params) {
            this.isGrader = params.isGrader;
            this.location = ko.observable(params.location);
            this.reviews = params.reviews;
            this.review = ko.pureComputed(() => findReviewByLocation(this.reviews, this.location()));

            this.quickButtonIcon = ko.pureComputed(() => {
                if (this.review() === null) {
                    if (this.isGrader()) {
                        return "fa-plus-circle";
                    } else {
                        return "";
                    }
                }
                switch (this.review().state()) {
                    case ReviewModelState.DRAFT:
                        return "fa-save";
                    case ReviewModelState.EDITING:
                        return "fa-save";
                    case ReviewModelState.SAVED:
                        return "fa-chevron-circle-right";
                    case ReviewModelState.EXPANDED:
                        return "fa-chevron-circle-left";
                }
            });

            this.addLineFeedback = () => {
                let location = this.location();
                if (findReviewByLocation(this.reviews, location) === null) {
                    let draftReview = ReviewModel.BLANK(this);
                    draftReview.location(location);
                    this.reviews.push(draftReview);
                }
            };

            this.collapse = () => {
                this.review().state(ReviewModelState.COLLAPSED);
            };

            this.edit = () => {
                if (this.review() !== null) {
                    if (this.review().state() === ReviewModelState.EDITING) {
                        this.review().state(ReviewModelState.EXPANDED);
                    } else {
                        this.review().state(ReviewModelState.EDITING);
                    }
                }
            };

            this.remove = () => {
                if (this.review() !== null) {
                    this.review().remove();
                }
            };


            this.quickButtonClick = () => {
                if (this.review() === null) {
                    this.addLineFeedback();
                    return;
                }
                switch (this.review().state()) {
                    case ReviewModelState.DRAFT:
                        this.review().create();
                        break;
                    case ReviewModelState.EDITING:
                        this.review().state(ReviewModelState.SAVED);
                        break;
                    case ReviewModelState.SAVED:
                        this.review().update();
                        break;
                    case ReviewModelState.EXPANDED:
                        this.review().state(ReviewModelState.EDITING);
                        break;
                }
            };
            this.fixPopoverPosition = (elements)=> {
                let popover, button;
                elements.map((element) => {
                    if (element.classList) {
                        if (element.classList.contains("popover")) {
                            popover = element;
                        }
                        if (element.classList.contains("line-review-quick-button")) {
                            button = element;
                        }
                    }
                });
                let offset = $(button).offset();
                let width = $(button).width()+5;
                $(popover).offset({"top": -$(button).height()/2+5, "left": width});
                //popover.style.top = -$(button).height()/2;
                //popover.style.left = width;
                $(popover).show();
            };

            this.takeFocus = (x, y, z) => {
                $(".popover").css({"z-index": 1060});
                $(y.currentTarget).css({"z-index": 1061});
            };
        },
        template: {
            element: "line-review-button-template"
        }
    });

    function parseReviewInheritance(review) {
        if (review.tag_id != null) {
            return "tag";
        } else if (review.forked_id != null) {
            return "review";
        } else {
            return "nothing";
        }
    }

    function ReviewInterfaceModel(params) {
        // Data models
        this.submission = new SubmissionModel(params.submission);
        this.lookups = {metaReviews: {}, tags: {}};
        this.metaReviews = ko.observableArray(params.metaReviews.map(
            review => {
                this.lookups.metaReviews[review.id] = review;
                review.parent = this;
                review.inherits = parseReviewInheritance(review);
                return new ReviewModel(review, true)
            }
        ));
        this.tags = ko.observableArray(params.tags.map(
            tag => {
                this.lookups.tags[tag.id] = tag;
                return new TagModel(tag);
            }
        ));

        this.reviews = ko.observableArray(params.reviews.map(
            review => {
                review.parent = this;
                review.inherits = parseReviewInheritance(review);
                return new ReviewModel(review, true);
            }
        ));
        this.isGrader = ko.observable(params.isGrader);

        // Dummy test data
        /*
        let TAG0 = TagModel.BLANK(this);
        TAG0.name = "Not Functionally Decomposed";
        this.tags.push(TAG0);

        let META_REVIEW0 = ReviewModel.BLANK(this);
        META_REVIEW0.comment("Banana");
        META_REVIEW0.score(-10);
        this.metaReviews.push(META_REVIEW0);*/

        // Interface models
        this.ui = {};
        this.ui.totalScore = ko.pureComputed( ()=> {
            let totalReviewScore = this.reviews().map(review => parseInt(review.score(), 10))
                                               .reduce( (score, total) => score+total, 0);
            return this.submission.score() + totalReviewScore;
        });

        this.ui.releaseFeedback = {
            text: ko.pureComputed( ()=>
                this.submission.gradingStatus().toLowerCase() !== "fullygraded" ?
                    "Release feedback" : "Revise feedback"
            ),
            submit: () => {
                let newStatus = this.submission.gradingStatus().toLowerCase() !== "fullygraded" ?
                    "FullyGraded" : "PendingManual";
                $.post("{{ url_for('grading.update_status') }}", {
                    "submission_id": this.submission.id,
                    "correct": this.submission.correct(),
                    "score": this.ui.totalScore(),
                    "new_grading_status": newStatus,
                }, (data) => {
                    this.submission.gradingStatus(newStatus);
                });
            }
        };

        this.ui.closeSubmission = {
            text: ko.pureComputed( ()=>
                this.submission.submissionStatus().toLowerCase() !== "completed" ?
                    "Close submission" : "Reopen submission"
            ),
            submit: () => {
                // TODO: Finish closeSubmission
            }
        };

        this.ui.generalReviews = ko.pureComputed(() => {
            return this.reviews().filter(review => (review.location() === "" || review.location() === null));
        });

        this.ui.lineReviews = ko.pureComputed(() => {
            return this.reviews().filter(review => (review.location() !== "" && review.location() !== null));
        });

        this.ui.generalFeedback = {
            add: () => {
                let draftReview = ReviewModel.BLANK(this);
                this.reviews.push(draftReview);
            }
        };

    }

    function SubmissionModel(params) {
        this.submissionStatus = ko.observable(params.submission_status);
        this.gradingStatus = ko.observable(params.grading_status);
        this.correct = ko.observable(params.correct);
        this.score = ko.observable(params.score);
        this.version = ko.observable(params.version);
        this.assignmentVersion = ko.observable(params.assignment_version);
        this.id = ko.observable(params.id);

        this.ui = {};
        this.ui.correct = ko.pureComputed( ()=> this.correct() ? "&#10004;": "&#10060;");
    }

    const ReviewModelState = {
        DRAFT: "DRAFT",
        SAVED: "SAVED",
        EDITING: "EDITING",
        EXPANDED: "EXPANDED"
    };

    function ReviewModel(params, startSaved) {
        this.id = ko.observable(params.id);
        this.comment = ko.observable(params.comment);
        this.generic = ko.observable(params.generic);
        this.location = ko.observable(params.location);
        this.tagId = ko.observable(params.tag_id != null ? params.parent.lookups.tags[params.tag_id] : null);
        this.score = ko.observable(params.score);
        this.authorId = ko.observable(params.author_id);
        this.assignmentVersion = ko.observable(params.assignment_version);
        this.submissionVersion = ko.observable(params.submission_version);
        this.version = ko.observable(params.version);
        this.forkedId = ko.observable(params.forked_id != null ? params.parent.lookups.metaReviews[params.forked_id] : null);
        this.dateCreated = ko.observable(params.date_created);

        // Interface model
        this.parent = params.parent;
        if (startSaved) {
            this.state = ko.observable(ReviewModelState.SAVED);
        } else {
            this.state = ko.observable(params.state);
        }
        this.inherits = ko.observable(params.inherits);

        this.getText = ko.pureComputed(() => {
            let text = this.comment();
            switch (this.inherits()) {
                case "nothing": return text;
                case "tag":
                    let tagId = this.tagId() == null ? null : this.tagId().id;
                    let tag = this.parent.lookups.tags[tagId];
                    if (tag != null) {
                        text = tag.name+(text ? "- "+text : "");
                    }
                    return text;
                case "review":
                    let metaReviewId = this.forkedId() == null ? null : this.forkedId().id();
                    let metaReview = this.parent.lookups.tags[metaReviewId];
                    if (metaReview != null) {
                        text = metaReview.comment()+(text ? "- "+text : "");
                    }
                    return text;
            }
            if (this.inherits() === "nothing") {
                return this.comment();
            } else
            if (this.comment() !== "") {
                return this.comment();
            }
        });
    }

    ReviewModel.BLANK = function(parent) {
        return new ReviewModel({
            id: null,
            comment: "New Comment",
            generic: false,
            location: null,
            tagId: null,
            score: -10,
            authorId: AUTHOR_ID,
            assignmentVersion: ASSIGNMENT_VERSION,
            submissionVersion: SUBMISSION_VERSION,
            version: 0,
            forkedId: null,
            dateCreated: new Date(),
            parent: parent,
            inherits: "review",
            // UI
            state: ReviewModelState.DRAFT
        });
    };

    ReviewModel.prototype.serialized = function() {
        return {
            id: this.id(),
            comment: this.comment(),
            generic: this.generic(),
            location: this.location(),
            tag_id: this.tagId() != null ? parseInt(this.tagId().id(), 10) : null,
            score: this.score(),
            author_id: this.authorId(),
            assignment_version: this.assignmentVersion(),
            submission_version: this.submissionVersion(),
            version: this.version(),
            forked_id: this.forkedId() != null ? parseInt(this.forkedId().id(), 10) : null,
            date_created: this.dateCreated()
        };
    };

    ReviewModel.prototype.save = function() {
        if (this.state() === ReviewModelState.DRAFT) {
            this.create();
        } else {
            this.update();
        }
    };

    ReviewModel.prototype.create = function() {
        let serialized = this.serialized();
        serialized.submission_id = SUBMISSION_ID;
        $.post(SERVER_URLS.REVIEW_URL, serialized)
            .done((response) => {
                let review = response.review;
                this.id(review.id);
                this.state(ReviewModelState.SAVED);
            });
    };

    ReviewModel.prototype.update = function() {
        let serialized = this.serialized();
        $.ajax({
            type: 'PUT',
            url: SERVER_URLS.REVIEW_URL+this.id(),
            contentType: 'application/json',
            data: JSON.stringify(serialized),
        }).done((response) => {
            this.state(ReviewModelState.SAVED);
        });
    };

    ReviewModel.prototype.cancel = function() {
        switch (this.state()) {
            case ReviewModelState.EDITING:
                // Persist change to server
                this.state(ReviewModelState.SAVED);
                break;
            case ReviewModelState.DRAFT:
                this.parent.reviews.remove(this);
                break;
        }
    };

    ReviewModel.prototype.remove = function() {
        $.ajax({
            type: 'DELETE',
            url: SERVER_URLS.REVIEW_URL+this.id(),
        }).done((response) => {
            this.parent.reviews.remove(this);
        });
    };

    ReviewModel.prototype.edit = function() {
        this.state(ReviewModelState.EDITING);
    };

    ReviewModel.prototype.isEditing = function() {
        return this.state() === ReviewModelState.EDITING || this.state() === ReviewModelState.DRAFT;
    };

    function TagModel(params) {
        this.id = ko.observable(params.id);
        this.name = ko.observable(params.name);
        this.kind = ko.observable(params.kinds);
        this.description = ko.observable(params.description);
        this.level = ko.observable(params.level);
        this.version = ko.observable(params.version);
        this.ownerId = ko.observable(params.owner_id);
        this.courseId = ko.observable(params.course_id);
    }

    TagModel.BLANK = () => {
        return new TagModel({
            id: null,
            name: "New Tag",
            kind: "Mistake",
            description: "",
            level: "",
            version: "",
            ownerId: null,
            courseId: null,
        });
    };

    main = new ReviewInterfaceModel({
        submission: {{ submission.encode_json()|tojson }},
        reviews: {{ submission.get_reviews()|tojson }},
        metaReviews: {{ submission.get_meta_reviews()|tojson }},
        tags: {{ tags|tojson }},
        isGrader: {{ is_grader|tojson }}
    });

    const COMMENT_COLUMN = $("<td class='comment-column'></td>");

    $(document).ready(function() {

        $(".highlighttable").find("td.code").after(COMMENT_COLUMN);
        $(".highlighttable span[id^='code-span-']").each(function(index, elem) {
            let parameters = "location: "+index+",reviews: reviews,isGrader: isGrader";
            let button = $("<line-review params='"+parameters+"'></line-review>");
            button.css({"top": elem.top});
            COMMENT_COLUMN.append(button);
        });

        ko.applyBindings(main);

        {% if is_grader %}
        $("#assign-grade").click(function() {
            let grade = $("#grade-value").val();
            let correct = $("#correct-value").is(":checked");
            let failButton = function(reason) {
                    $("#assign-grade").text("Failed to assign!")
                        .removeClass("btn-success").addClass("btn-danger");
                    console.error(reason);
                };
            submitGrade({{ submission.id }}, {{ submission.course_id }}, grade, correct)
                .done(function(response) {
                    if (response.success) {
                        $("#assign-grade").text("Assigned!")
                        .removeClass("btn-success btn-danger").addClass("btn-success");
                    } else {
                        failButton(response.message);
                    }
                }).fail(failButton);
        });
        $("#correct-value").on('change keyup input', function() {
            let correct = $("#correct-value").is(":checked");
            $("#grade-value").prop("disabled", correct);
            if (correct) {
                $("#grade-value").val("100");
            } else {
                $("#grade-value").val("0");
            }
        });
        {% endif %}
    });

</script>

<!-- HTML -->

<!-- Errors -->
{% if is_grader and not session['is_lti_active'] or g.course.id != submission.course_id %}
    <div class="alert alert-warning" role="alert">
        You are not in an LTI session for this course.
        Launch an LTI session by opening the dashboard.
    </div>
{% endif %}

<!-- Controls -->
<p class="col-lg-6 col-md-12">
    <button type="button" class="btn btn-sm btn-success" disabled="disabled"
        data-bind="text: ui.releaseFeedback.text, click: ui.releaseFeedback.submit"></button>
    Released feedback is visible to students.
</p>
<p class="col-lg-6 col-md-12">
    <button type="button" class="btn btn-sm btn-info" disabled="disabled"
        data-bind="text: ui.closeSubmission.text, click: ui.closeSubmission.submit"></button>
    Closed assignments prevent students from submitting.
</p>


<!-- Summary Area -->
<div class="col-lg-6 col-md-12">
<table class="review-report table table-bordered table-hover table-sm">
    <thead>
    <th>Category</th>
    <th>Score</th>
    </thead>
    <tr>
        <td>Is correct?</td>
        <td data-bind="html: submission.ui.correct"></td>
    </tr>
    <tr>
        <td>Submission score:</td>
        <td data-bind="text: submission.score"></td>
    </tr>
    <!-- ko foreach: reviews -->
    <tr>
        <td data-bind="text: $data.getText(), css: {'draft-comment': $data.state() === 'DRAFT'}"></td>
        <td data-bind="text: $data.score"></td>
    </tr>
    <!-- /ko -->
    <tr>
        <td>Total</td>
        <td data-bind="text: ui.totalScore"></td>
    </tr>
</table>
</div>


<!-- General Feedback -->
<div class="col-lg-6 col-md-12">
    <h4>General Feedback</h4>

    <button type="button" class="btn btn-sm btn-success"
        data-bind="click: ui.generalFeedback.add">Add feedback</button>

    <div class="list-group d-flex w-100 justify-content-between"
         data-bind="foreach: ui.generalReviews">
        <!-- ko if: state() !== 'SAVED' -->
        <div data-bind='component: {name: "individual-review-editor", params: $data}'></div>
        <!-- /ko -->
        <!-- ko if: state() === 'SAVED' -->
        <div data-bind='component: {name: "individual-review-show", params: $data}'></div>
        <!-- /ko -->
    </div>

</div>

<!-- Line Feedback -->
<div class="col-lg-6 col-md-12">
    <h4>Line Feedback</h4>
</div>

<!-- Old Interface -->
{% if is_grader %}
    <!--
<div>
<form>
    <label>Is Correct?: <input type="checkbox" id="correct-value"
    {% if submission.correct %}checked{% endif %}></label> or
    <label>Grade: <input type="text" id="grade-value" value="{{ submission.score }}">/100</label><br>

    <button class='btn btn-warning btn-sm' type="button">Close Submission</button>
    <button class='btn btn-success btn-sm' id="assign-grade" type="button">Assign Grade</button>
</form>
</div>-->
{% endif %}

<!-- Template for Individual Review Editing -->
<template id="individual-review-editor-template">
<div class="form-group">
    <div class="mb-2">
        <label class="mr-2" for="iret-comment">Comment:</label>
        <input data-bind="value: comment" class="form-control form-control-sm" id="iret-comment"/>
    </div>
    <div class="form-inline mb-2">
        <label class="mr-2" for="iret-score">Score:</label>
        <input data-bind="value: score" class="form-control form-control-sm" id="iret-score"/>
    </div>
    <div class="form-inline mb-2">
        <label class="mr-2" for="iret-inherit">Inherit from:</label>
        <select class="custom-select form-control" id="iret-inherit"
            data-bind="value: inherits">
            <option value="nothing">Nothing</option>
            <option value="tag">Tag</option>
            <option value="review">Review</option>
        </select>
    </div>
    <div class="form-inline mb-2"
        data-bind="visible: inherits() =='tag'">
        <label class="mr-2" for="iret-tag">Tag:</label>
        <select class="custom-select" id="iret-tag"
            data-bind="value: tagId, options: $root.tags,
                       optionsText: 'name'">
        </select>
    </div>
    <div class="form-inline mb-2"
        data-bind="visible: inherits() == 'review'">
        <label class="mr-2" for="iret-forked">Parent:</label>
        <select class="custom-select" id="iret-forked"
            data-bind="value: forkedId, options: $root.metaReviews,
                        optionsText: 'comment'">
        </select>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-outline-secondary btn-sm mr-2"
            data-bind="click: cancel">Cancel</button>
        <button type="button" class="btn btn-success btn-sm mr-2"
            data-bind="click: save">Save</button>
    </div>
</div>
</template>

<template id="individual-review-show-template">
    <div>
        <span data-bind="text: getText"></span>
        <span data-bind="text: score"></span>
        <button type="button" class="btn btn-sm btn-outline-secondary"
            data-bind="click: edit">Edit</button>
        <button type="button" class="btn btn-sm btn-danger"
            data-bind="click: remove">Remove</button>
    </div>
</template>

<template id="line-review-button-template">
    <div data-bind="template: {afterRender: fixPopoverPosition }"
        class="line-review-box">
    <span class="line-review-quick-button fas"
          data-bind="click: quickButtonClick,
                     class: quickButtonIcon"></span>
    <div class="popover bs-popover-right static-popover"
        data-bind="css: {inactive: review() == null},
                   click: takeFocus" style="display:none">
    <!-- ko if: review() !== null -->
        <div class="arrow"></div>
        <div class="popover-body popover-header-sm">
        <!-- ko if: !review().isEditing() -->
            <code data-bind="text: review().score"></code>
            <span data-bind="text: review().getText()"></span>
            <!-- ko if: $parent.isGrader -->
            <span class="fas fa-trash float-right popover-control"
                  data-bind="click: remove"></span>
            <span class="fas fa-edit float-right mr-2 popover-control"
                  data-bind="click: edit"></span>
            <span class="fas fa-chevron-left float-right mr-2 popover-control"
                  data-bind="click: collapse"></span>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: review().isEditing() -->
            <div data-bind='component: {name: "individual-review-editor", params: review()}'></div>
        <!-- /ko -->
        </div>
    <!-- /ko -->
    </div>
    </div>
</template>