<!-- Style -->
<style>
.highlighttable pre {
    font-size: 15px;
}
td.comment-column {
    vertical-align: top;
}
span.add-comment {
    padding: 0px;
    margin: 0px;
    line-height: 125%;
    font-size: 15px;
    display: block;
    color: #EEE;
}
span.add-comment:hover {
    color: darkgray;
}
span.add-comment:active {
    color: black;
}

table.review-report td:last-child {
    text-align: right;
}

.draft-review {
    border: 1px solid lightgray;
    padding: 4px;
    background-color: #EEE;
}

</style>

<!-- Scripts -->

<script>

    let AUTHOR_ID = {{ g.user.id|tojson }};
    let ASSIGNMENT_VERSION = {{ assignment.version|tojson }};
    let SUBMISSION_VERSION = {{ submission.version|tojson }};

    ko.components.register('individual-review-editor', {
        template: { element: "individual-review-editor-template" }
    });

    function ReviewInterfaceModel(params) {
        // Data models
        this.submission = new SubmissionModel(params.submission);
        this.reviews = ko.observableArray(params.reviews.map(
            review => new ReviewModel(review)
        ));
        this.metaReviews = ko.observableArray(params.metaReviews.map(
            review => new ReviewModel(review)
        ));
        this.tags = ko.observableArray(params.tags.map(
            tag => new TagModel(tag)
        ));
        this.isGrader = ko.observable(params.isGrader);

        this.draftReviews = ko.observableArray([]);

        // Interface models
        this.ui = {};
        this.ui.totalScore = ko.pureComputed( ()=> {
            let totalReviewScore = this.reviews().map(review => review.score())
                                               .reduce( (score, total) => score+total, 0);
            return this.submission.score() + totalReviewScore;
        });

        this.ui.releaseFeedback = {
            text: ko.pureComputed( ()=>
                this.submission.gradingStatus().toLowerCase() !== "fullygraded" ?
                    "Release feedback" : "Revise feedback"
            ),
            submit: () => {
                let newStatus = this.submission.gradingStatus().toLowerCase() !== "fullygraded" ?
                    "FullyGraded" : "PendingManual";
                $.post("{{ url_for('grading.update_status') }}", {
                    "submission_id": this.submission.id,
                    "new_grading_status": newStatus,
                }, (data) => {
                    this.submission.gradingStatus(newStatus);
                });
            }
        };

        this.ui.closeSubmission = {
            text: ko.pureComputed( ()=>
                this.submission.submissionStatus().toLowerCase() !== "completed" ?
                    "Close submission" : "Reopen submission"
            ),
            submit: () => {
                // TODO: Finish closeSubmission
            }
        };

        this.ui.generalReviews = ko.pureComputed(() => {
            return this.reviews().filter(review => (review.location() === "" || review.location() === null));
        });

        this.ui.generalFeedback = {
            active: ko.observable(false),
            add: () => {
                let draftReview = ReviewModel.BLANK();
                let reviewEditor = new IndividualReviewEditorModel({
                    parent: this,
                    review: draftReview
                });
                this.draftReviews.push(reviewEditor);
            }
        };
        this.ui.addGeneralFeedback = function() {

        };
        this.ui.editGeneralFeedback = function(reviewId) {

        };
        this.ui.saveGeneralFeedback = function() {

        };
        this.ui.deleteGeneralFeedback = function(reviewId) {

        };

    }

    function SubmissionModel(params) {
        this.submissionStatus = ko.observable(params.submission_status);
        this.gradingStatus = ko.observable(params.grading_status);
        this.correct = ko.observable(params.correct);
        this.score = ko.observable(params.score);
        this.version = ko.observable(params.version);
        this.assignmentVersion = ko.observable(params.assignment_version);
        this.id = ko.observable(params.id);

        this.ui = {};
        this.ui.correct = ko.pureComputed( ()=> this.correct() ? "&#10004;": "&#10060;");
    }

    function ReviewModel(params) {
        this.comment = ko.observable(params.comment);
        this.generic = ko.observable(params.generic);
        this.location = ko.observable(params.location);
        this.tagId = ko.observable(params.tagId);
        this.score = ko.observable(params.score);
        this.authorId = ko.observable(params.authorId);
        this.assignmentVersion = ko.observable(params.assignment_version);
        this.submissionVersion = ko.observable(params.submission_version);
        this.version = ko.observable(params.version);
        this.forkedId = ko.observable(params.forked_id);
        this.dateCreated = ko.observable(params.date_created);

        this.inherits = ko.pureComputed({
            read: () => {
                if (this.review.tagId() != null) {
                    return "tag";
                } else if (this.review.forkedId() != null) {
                    return "review";
                } else {
                    return "nothing";
                }
            },
            write: (value) => {
                if (value === "tag") {
                    this.review.forkedId(null);
                    this.review.tagId(this.parent.tags()[0])
                } else if (value === "review") {
                    this.review.tagId(null);
                    this.review.forkedId(this.parent.metaReviews()[0])
                } else if (value === "nothing") {
                    this.review.forkedId(null);
                    this.review.tagId(null);
                }
            },
            owner: this
        });
    }

    ReviewModel.BLANK = function() {
        return new ReviewModel({
            comment: "",
            generic: false,
            location: null,
            tagId: null,
            score: -10,
            authorId: AUTHOR_ID,
            assignmentVersion: ASSIGNMENT_VERSION,
            submissionVersion: SUBMISSION_VERSION,
            version: 0,
            forkedId: null,
            dateCreated: new Date()
        });
    };

    ReviewModel.prototype.save = function() {
        // TODO: Save to server, then make local change
        this.parent.draftReviews.remove(this);
        this.parent.reviews.push(this.review);
    };

    ReviewModel.prototype.cancel = function() {
        this.parent.draftReviews.remove(this);
    };

    function TagModel(params) {
        this.name = ko.observable(params.name);
        this.kind = ko.observable(params.kinds);
        this.description = ko.observable(params.description);
        this.level = ko.observable(params.level);
        this.version = ko.observable(params.version);
        this.ownerId = ko.observable(params.owner_id);
        this.courseId = ko.observable(params.course_id);
    }

    main = new ReviewInterfaceModel({
        submission: {{ submission.encode_json()|tojson }},
        reviews: {{ submission.get_reviews()|tojson }},
        metaReviews: {{ submission.get_meta_reviews()|tojson }},
        tags: {{ tags }},
        isGrader: {{ is_grader|tojson }}
    });

    {% if is_grader %}
    $(document).ready(function() {

        ko.applyBindings(main);

        $("#assign-grade").click(function() {
            let grade = $("#grade-value").val();
            let correct = $("#correct-value").is(":checked");
            let failButton = function(reason) {
                    $("#assign-grade").text("Failed to assign!")
                        .removeClass("btn-success").addClass("btn-danger");
                    console.error(reason);
                };
            submitGrade({{ submission.id }}, {{ submission.course_id }}, grade, correct)
                .done(function(response) {
                    if (response.success) {
                        $("#assign-grade").text("Assigned!")
                        .removeClass("btn-success btn-danger").addClass("btn-success");
                    } else {
                        failButton(response.message);
                    }
                }).fail(failButton);
        });
        $("#correct-value").on('change keyup input', function() {
            let correct = $("#correct-value").is(":checked");
            $("#grade-value").prop("disabled", correct);
            if (correct) {
                $("#grade-value").val("100");
            } else {
                $("#grade-value").val("0");
            }
        });
    });

    function addReview(root) {

    }
    $(document).ready(function() {
        let commentColumn = $("<td class='comment-column'></td>");
        $(".highlighttable").find("td").after(commentColumn);
        $(".highlighttable span[id^='code-span-']").each(function(index, elem) {
            let button = $("<span class=\"fas fa-plus-circle\"></span>");
            // fa-chevron-circle-left
            // fa-chevron-circle-right
            commentColumn.append(button);//.append("<br>");
            button.addClass("add-comment");
            button.css({"top": elem.top});
            button.click(function() {
                console.log(index, elem);
            });
            button.popover({
                content: $("<div>Dr. Bart says: This is a great line of code!</div><textarea></textarea>"),
                html: true,
                template:'<div><span class="popover-header"></span></div>'
            });
        });
    });
{% endif %}
</script>

<!-- HTML -->

<!-- Errors -->
{% if is_grader and not session['is_lti_active'] or g.course.id != submission.course_id %}
    <div class="alert alert-warning" role="alert">
        You are not in an LTI session for this course.
        Launch an LTI session by opening the dashboard.
    </div>
{% endif %}

<!-- Controls -->
<p class="col-lg-6 col-md-12">
    <button type="button" class="btn btn-sm btn-success"
        data-bind="text: ui.releaseFeedback.text, click: ui.releaseFeedback.submit"></button>
    Released feedback is visible to students.
</p>
<p class="col-lg-6 col-md-12">
    <button type="button" class="btn btn-sm btn-info"
        data-bind="text: ui.closeSubmission.text, click: ui.closeSubmission.submit"></button>
    Closed assignments prevent students from submitting.
</p>


<!-- Summary Area -->
<div class="col-lg-6 col-md-12">
<table class="review-report table table-bordered table-hover table-sm">
    <thead>
    <th>Category</th>
    <th>Score</th>
    </thead>
    <tr>
        <td>Is correct?</td>
        <td data-bind="html: submission.ui.correct"></td>
    </tr>
    <tr>
        <td>Submission score:</td>
        <td data-bind="text: submission.score"></td>
    </tr>
    <!-- ko foreach: reviews -->
    <tr>
        <td data-bind="text: $data.comment"></td>
        <td data-bind="text: $data.score"></td>
    </tr>
    <!-- /ko -->
    <tr>
        <td>Total</td>
        <td data-bind="text: ui.totalScore"></td>
    </tr>
</table>
</div>


<!-- General Feedback -->
<div class="col-lg-6 col-md-12">
    <h4>General Feedback</h4>

    <button type="button" class="btn btn-sm btn-success"
        data-bind="click: ui.generalFeedback.add">Add feedback</button>

    <div class="list-group d-flex w-100 justify-content-between"
         data-bind="foreach: ui.generalReviews">
        <div data-bind='component: {name: "individual-review-editor", params: $data}'></div>
        <span data-bind="text: $data.comment"></span> - <span data-bind="text: $data.score"></span>
    </div>

    <div class="list-group d-flex w-100 justify-content-between"
         data-bind="foreach: draftReviews">
        <div class="draft-review">
            <div data-bind='component: {name: "individual-review-editor", params: $data}'></div>
        </div>
    </div>

</div>

<!-- Line Feedback -->
<div class="col-lg-6 col-md-12">
    <h4>Line Feedback</h4>
</div>

<!-- Old Interface -->
{% if is_grader %}
<div>
<form>
    <label>Is Correct?: <input type="checkbox" id="correct-value"
    {% if submission.correct %}checked{% endif %}></label> or
    <label>Grade: <input type="text" id="grade-value" value="{{ submission.score }}">/100</label><br>

    <button class='btn btn-warning btn-sm' type="button">Close Submission</button>
    <button class='btn btn-success btn-sm' id="assign-grade" type="button">Assign Grade</button>
</form>
</div>
{% endif %}

{% for review in submission.get_reviews() %}
    {{ review }}
{% endfor %}


<!-- Template for Individual Review Editing -->
<template id="individual-review-editor-template">
<div class="form-group">
    <div class="mb-2">
        <label class="mr-2" for="iret-comment">Comment:</label>
        <input data-bind="value: comment" class="form-control form-control-sm" id="iret-comment"/>
    </div>
    <div class="form-inline mb-2">
        <label class="mr-2" for="iret-score">Score:</label>
        <input data-bind="value: score" class="form-control form-control-sm" id="iret-score"/>
    </div>
    <div class="form-inline mb-2">
        <label class="mr-2" for="iret-inherit">Inherit from:</label>
        <select class="custom-select form-control" id="iret-inherit"
            data-bind="value: inherits">
            <option value="nothing">Nothing</option>
            <option value="tag">Tag</option>
            <option value="review">Review</option>
        </select>
    </div>
    <div class="form-inline mb-2"
        data-bind="visible: inherits() =='tag'">
        <label class="mr-2" for="iret-tag">Tag:</label>
        <select class="custom-select" id="iret-tag"
            data-bind="value: tagId">
            <option>Bad Functional Decomposition</option>
            <option>Function should not be printing</option>
            <option>Line is excessively long</option>
        </select>
    </div>
    <div class="form-inline mb-2"
        data-bind="visible: inherits() == 'review'">
        <label class="mr-2" for="iret-forked">Parent:</label>
        <select class="custom-select" id="iret-forked"
            data-bind="value: forkedId">
            <option>Project 3- Bad Functional Decomposition</option>
            <option>Project 3- Bad Functional Decomposition</option>
            <option>Line is excessively long</option>
        </select>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-outline-secondary btn-sm mr-2"
            data-bind="click: cancel">Cancel</button>
        <button type="button" class="btn btn-success btn-sm mr-2"
            data-bind="click: save">Save</button>
    </div>
</div>
</template>