{% if is_instructor %}
    <script>
    function regrade(element, submission_id) {
        let url = "{{ url_for('grading.update_grading_status') }}?submission_id="+submission_id;
        console.log(this, element, submission_id);
        element.style.backgroundColor = 'white';
        fetch(url, {method: 'POST'}).then((response) => {
            if (response.new_status === "FullyGraded") {
                element.getElementByName('span')[0].className = "green-check-mark";
                element.getElementByName('span')[0].innerHTML = "&#10004;";
            }
            element.style.backgroundColor = 'transparent';
        }).catch(() => {
            element.style.backgroundColor = 'red';
        }).finally(() => {
        });
    }
    </script>

{% if criteria=="assignment" %}
    <a href="{{ url_for("assignments.export_submissions",
            assignment_id=search_key,
            course_id=course_id) }}" target="_blank">Download all submissions for assignment</a><br>
    <a href="{{  url_for("assignments.load",
                        assignment_id=search_key, course_id=course_id) }}"
       target="_blank">Open assignment</a>
{% else %}
    <a href="{{ url_for("blockpy.load_history",
            user_id=search_key,
            course_id=course_id) }}" target="_blank">Download all events</a>
{% endif %}
{% endif %}
<table class="table table-condensed table-hover table-striped table-bordered">
<caption>Student's submissions for course's assignments.</caption>
<tbody>
<tr>
    {% if criteria!="assignment" %}<th>Assignment</th>{%endif %}
    {% if criteria!="student" %}<th>Student</th>{%endif %}
    <th>Correct</th>
    <th>Submission</th>
    <th>Grading</th>
    <th>Actions</th>
    <th>Touches</th>
    <th>Last Edited</th>
</tr>
{% for submission in submissions %}

    <!-- Row Color based on Assignment status -->
<tr
    class='{%
        if submission[0].correct or (submission[0].score is defined and submission[0].score|round(1) >= 100)
    %}table-success{%
        elif (submission[0].score is defined and submission[0].score|round(1) > 0)
    %}table-warning{% endif %}'>

    {% if criteria!="assignment" %}
    <td>
        <a href="{{  url_for("courses.submissions_filter",
                        criteria="assignment", search_key=submission[2].id, course_id=course_id) }}"
       ><i class="fas fa-eye"></i></a> {{ submission[2].title() }}
    </td>{%endif %}
    {% if criteria!="student" %}
        <td>
            <a href="{{  url_for("courses.submissions_filter",
                        criteria="student", search_key=submission[1].id, course_id=course_id) }}"
            ><i class="fas fa-eye"></i></a>
            {{ submission[1].name() }}
    </td>{%endif %}
    <td>
        {% if submission[0].correct%}Yes{% else %}No{% endif %}
        {% if submission[0].score is defined %}
        ({{ submission[0].score|round(1) }}%)
        {% endif %}
    </td>
    <td>
        {{ submission[0].submission_status }}</td>
    <td>
        <span onclick="regrade(this, {{ submission[0].id }})" style="cursor: pointer">
        {% if submission[0].grading_status == "FullyGraded" %}
            <span class="green-check-mark">&#10004;</span>
        {% elif submission[0].grading_status == 'Failed' %}
            <span class="red-x">&#10060;</span>
        {% endif %}
        </span>
        {{ submission[0].grading_status }}
    </td>
    <td>{% if submission[0] != None -%}
    <a href="{{ url_for('blockpy.view_submission', submission_id=submission[0].id, embed=True) }}"
        target="_blank">View</a>
    {% if is_instructor %},
    <a href="{{ url_for('blockpy.load_assignment',
                        assignment_id=submission[2].id,
                        user_id=submission[1].id,
                        course_id=course_id,
                        force_download=True,
                        embed=True) }}"
        target="_blank">Download</a>
    {%- endif %}
    {%- endif %}</td>
    <td>{{ submission[0].version or "0"}}</td>

    <td>
        <span title="{{ submission[0].date_modified }}">
            {{ submission[0].date_modified|date_description }}
        </span>
    </td>
</tr>
{% endfor %}
</tbody>
</table>