<table class="table table-condensed table-hover table-striped table-bordered">
<caption>Student's submissions for course's assignments.</caption>
<tbody>
<tr>
    {% if criteria=="student" %}<th>Assignment</th>{%endif %}
    {% if criteria=="assignment" %}<th>Student</th>{%endif %}
    <th>Correct</th>
    <th>Status</th>
    <th>View</th>
    <th>Touches</th>
</tr>
{% for submission in submissions %}
<tr class='{% if submission[0].correct%}success{% endif %}'>
    {% if criteria=="student" %}<td>{{ submission[2].title() }}</td>{%endif %}
    {% if criteria=="assignment" %}<td>{{ submission[1].name() }}</td>{%endif %}
    <td>{% if submission[0].correct%}Yes{% else %}No{% endif %}</td>
    <td>{{ submission[0].submissionStatus }}</td>
    <td>{% if submission[0] != None -%}
    <a href="{{ url_for('blockpy.view_submission', submission_id=submission[0].id, embed=True) }}"
        target="_blank">View</a>{% endif %}</td>
    <td>{{ submission[0].version or "0"}}</td>
</tr>
{% endfor %}
</tbody>
</table>