{% extends 'layout.html' %}

{% block title %}Computational Thinking Knowledge Components{% endblock %}

{% block extrahead %}
<style>
.indent {
    padding-left: 10px;
}
</style>

{% endblock %}

{% block body %}

<div>
	<h2>Knowledge Components for Collection Based Iteration in Python</h2>
	<ul style="list-style-type:disc">
		<li>KC001: Integers and floats are different numeric types</li>
		<li>KC002: The iteration property takes on the type of the elements of the list</li>
		<li>KC003: The iteration property is NOT the list</li>
		<li>KC004: Numeric types are different from strings</li>
		<li>KC005: Numeric types are different from booleans</li>
		<li>KC006: The iteration property takes on each value of the list</li>
		<li>KC007: The iteration property is a single item</li>
		<li>KC008: The list is multiple items</li>
		<li>KC009: The iteration property and the list should be different</li>
		<li>KC010: Initializations for sums should be 0</li>
		<li>KC011: Initializations for accumulators should be 0</li>
		<li>KC012: The sum and the list are two different items</li>
		<li>KC013: The accumulator and the list are two different items</li>
		<li>KC014: A property shouldn't be used before it's initialized</li>
		<li>KC015: A property shouldn't be initialized to itself</li>
		<li>KC016: An initialization for sums isn't an update</li>
		<li>KC017: An initialization for accumulators isn't an update</li>
		<li>KC018: Update for sum is accumulator = accumulator + iteration property
			<ul style="list-style-type:circle">
				<li>KC018-(1-3) locations of accumulator (x2) and iteration property</li>
				<li>KC018-(4-6) presence of accumulator and iteration property and no presence of list</li>
			</ul>
		</li>
		<li>KC019: Update for accumulation is accumulator = accumulator + X
			<ul style="list-style-type:circle">
				<li>KC019-(1-3) locations of accumulator (x2) and accumulator_modifier</li>
				<li>KC019-(4-6) presence of accumulatorm accumulator_modifier and no presence of list</li>
			</ul>
		</li>
		<li>KC020: numbers and lists are two different things numbers can't be added to lists might be one as well</li>
		<li>KC022: The list is not used in accumulation</li>
		<li>KC023: The list is not used as an accumulator</li>
		<li>KC024: The iteration property is not an accumulator</li>
		<li>KC025: for each loop is for iter_prop in list</li>
		<li>KC026: Update for counting is counter = counter + 1
			<ul style="list-style-type:circle">
				<li>KC026-(1-3) locations of counter (x2) and 1</li>
				<li>KC026-(4-6) presence of counter and 1 and no presence of list</li>
			</ul>
		</li>
		<li>KC027: for filtering, if statement goes inside loop
			<ul style="list-style-type:circle">
				<li>KC027-(1-2) location and presence of if statement</li>
			</ul>
		</li>
		<li>KC028: list is not used for filtering</li>
		<li>KC029: filtering should use the iteration property</li>
		<li>KC030: The syntax of an empty list</li>
		<li>KC031: A new list should be different from the old list</li>
		<li>KC032: Building a new list is different from accumulating</li>
		<li>KC034: filtering should be done on old list</li>
		<li>KC035: the key word next does not exist</li>
		<li>KC036: List filtering is not an accumulation pattern</li>
		<li>KC037: Need to call append</li>
		<li>KC038: modifications should be done on new list</li>
		<li>KC038: Modifications should be done on new list</li>
		<li>KC039: Transformations happen on old values</li>
		<li>KC040: Transformed values are appended to the new list (could probably make generalizations to list building patterns)</li>
		<li>KC041: Meaningful list name</li>
		<li>KC042: Menngiful accumulator name</li>
		<li>KC043: meaningful iteration property name</li>
		<li>KC044: Knows to create an iteration property</li>
		<li>KC045: Knows to output response</li>
		<li>KC046: Knows to create an accumulator</li>
		<li>KC047: Knows to create a list property</li>
		<li>KC048: Differentiates between count and sum when summing a list of countable items</li>
		<li>KC049: Initializations for counts should be 0</li>
		<li>KC050: Initialize list from data block</li>
		<li>KC051: The count and the list are two different items</li>
		<li>KC052: An initialization for count isn't an update</li>
		<li>KC053: string types and lists are two different things</li>
	</ul>
</div>

{% endblock %}
