{% extends 'layout.html' %}

{% block title %}
BlockPy: Contact
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
</script>
{% endblock %}

{% block body %}

<h1>Contact</h1>

<p>
Have questions about using any of these projects? Discuss on our communities!
<ul>
<li><a href="https://groups.google.com/forum/#!forum/corgis-datasets-project" target="_blank">CORGIS Google Group</a></li>
<li><a href="https://groups.google.com/forum/#!forum/blockpy" target="_blank">BlockPy Google Group</a></li>
</ul>
</p>

<p>Want to talk to a person? Contact us below:
<ul>
<li>BlockPy or CORGIS: Austin Cory Bart (<a href="mailto:acbart@vt.edu">acbart@vt.edu</a>) </li>
</ul>
</p>

<p>
Want the code? Check out our Githubs!
<ul>
<li><a href="https://github.com/RealTimeWeb/datasets/" target="_blank">CORGIS</a></li>
<li><a href="https://github.com/RealTimeWeb/blockpy/" target="_blank">BlockPy</a></li>
<li><a href="https://github.com/acbart/blockpy-server" target="_blank">BlockPy Server</a></li>
</ul>
</p>
    
{% endblock %}