{% extends 'layout.html' %}

{% block title %}
Kennel
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
</script>
{% endblock %}

{% block body %}

<div class='row'>

<div class="media panel panel-default col-md-6 col-md-offset-3">
    <div class="media-left panel-body">
        <a href="{{ url_for('blockpy.index') }}">
            <img class="media-object" src="{{ url_for('static', filename='images/logo.png')}}" alt="BlockPy">
        </a>
    </div>
    <div class="media-body panel-body">
        <h4 class="media-heading">BlockPy</h4>
        BlockPy is a web-based Python environment that lets you work with blocks, text, or both. Designed for Data Science, equipped with powerful tools like the State Explorer, and scaffolding beginners with Guided Feedback, the goal of BlockPy is to let you authentically solve real-world problems.
    </div>
</div>

<div class="media panel panel-default col-md-6 col-md-offset-3">
    <div class="media-left panel-body">
        <a href="{{ url_for('corgis.index') }}">
            <img class="media-object" src="{{ url_for('static', filename='images/corgis-logo-tiny.png')}}" alt="BlockPy">
        </a>
    </div>
    <div class="media-body panel-body">
        <h4 class="media-heading">CORGIS</h4>
        The CORGIS Datasets Project seeks to make highly-motivating introductory computing experiences through simple, easy-to-pick-up datasets for beginners. We offer a wide range of libraries for many different programming languages and contexts.
    </div>
</div>

</div>

{% endblock %}