{% from "helpers/_formhelpers.html" import render_field %}
{% extends 'layout.html' %}

{% block title %}
Courses: Index
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
</script>
{% endblock %}

{% block body %}

<h1>Add New Non-LMS Course</h1>

<form method=post action="{{ url_for('courses.add') }}">
  <dl>
    {{ render_field(add_form.name) }}
    {{ render_field(add_form.visibility) }}
  </dl>
  <p><input type=submit value=Register>
</form>

{% endblock %}