{% from "helpers/_formhelpers.html" import render_field %}
{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Index
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
</script>
{% endblock %}

{% block body %}

<h1>Add New Non-LMS Course</h1>

<form method=post action="{{ url_for('courses.add') }}">
  <dl>
      <label for="name">{{ render_field(add_form.name) }}</label><br>
      <label for="visibility">{{ render_field(add_form.visibility) }}</label><br>
      <label for="term">{{ render_field(add_form.term) }}</label><br>
  </dl>
  <p><input type=submit value=Register>
</form>

{% endblock %}