{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Add Canvas Course
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
</script>
{% endblock %}

{% block body %}


<h1>Add Canvas Course</h1>

<a href="{{ url_for('courses.index') }}">Back to all courses</a>

<div>
To add our tools to your Canvas course, you'll need to do the following.

<ol>
    <li>Create and visit your course on Canvas.</li>
    <li>Go to "Settings" on the left sidebar menu.</li>
    <li>Go to the "Apps" tab.</li>
    <li>Click "View App Configurations".</li>
    <li>Click "Add App".</li>
    <li>Choose "Paste XML".</li>
    <li>For the name, enter <code>BlockPy Version {{ config['SITE_VERSION'] }}</code></li>
    <li>For the Consumer Key, enter <code>{{ config['CONSUMER_KEY'] }}</code></li>
    <li>For the Shared Secret, enter <code>{{ config['CONSUMER_KEY_SECRET'] }}</code></li>
    <li>For the XML Configuration, copy the XML on the following page: <a href="{{ url_for('courses.config') }}">LTI XML Configuration</a></li>
    <li>To add new BlockPy/Maze assignments, choose the "External Tool" type and select "BlockPy Version {{ config['SITE_VERSION'] }}" from the list.</li>
</ol>

</div>

{% endblock %}