{% extends 'layout.html' %}

{% block title %}
Courses: {{ course.name }}
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script src='{{ url_for("static", filename="libs/knockout-3.4.0.js")}}'></script>
<script type='text/javascript'>

function renameCourse() {
    new_name = window.prompt("Give a new name for this course:", {{ course.name|tojson }});
    if (new_name != null) {
        window.location.href = {{ url_for('courses.rename_course', course_id=course.id)|tojson }}+"&name="+new_name;
    }
}

$().ready(function() {
    var mainModel = {
        'courses': ko.observableArray([])
    };
});

</script>
{% endblock %}

{% block body %}

<h1>Courses: {{ course.name }}</h1>

<a href="{{ url_for('courses.index') }}">Back to all courses</a>

{% if is_instructor %}
<h3>Manage Assignments</h3>
{% else %}
<h3>View Assignments</h3>
{% endif %}

<a href="{{ url_for('courses.assignments', course_id=course.id) }}" class='btn btn-default'>View Assignments</a>

{% if is_instructor %}

<h3>Manage Students</h3>

<a href="" class='btn btn-default'>Add student</a>

<h3>Edit Course</h3>        

<a href="{{ url_for('courses.remove_course', course_id=course.id) }}" onclick="return confirm('Are you sure?')" class='btn btn-danger'>Delete Course</a><br><br>
<button onclick="renameCourse()" class='btn btn-default'>Rename Course</button><br>

{% endif %}

{% endblock %}