{% extends 'helpers/layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block body %}

    <h1>Dashboard</h1>

    <p>Welcome to your dashboard!</p>

    <p>This feature is in beta. Expect issues!</p>

    <p>If you wanted a scratchpad to work in, go <a href="{{ {"force_default_assignment":"true"}|modify_query }}">here</a>.</p>

    {% include "helpers/submission_student_table.html" %}

    <p>You are {{ g.user.name() }} ({{ g.user.id }}), currently in "{{ g.course.name }}" ({{g.course.id}})</p>

{% endblock %}