{% extends 'helpers/layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

    <script>window.accessToken = {{ g.access_token|tojson }}</script>

    <script>
    URLS_UPDATE_SUBMISSION = "{{ url_for('blockpy.update_submission') }}";
    USER_DATA = {{ users|tojson }};

    function SetModel(params) {
        this.name = ko.observable(params.name);
        this.emails = ko.observable(params.emails);
        this.default = ko.observable(params.default);
    }

    const GRADING_LOCAL_STORAGE_ITEM_USERSETS = "Grading-Usersets";
    function UserSetModel() {
        // TODO: Refactor this to do the appropriate thing
        let sets = localStorage.getItem(GRADING_LOCAL_STORAGE_ITEM_USERSETS);
        if (sets === null) {
            sets = [{"name": "All students", "default": true, "emails": ""}];
        } else {
            sets = JSON.parse(sets);
        }
        this.sets = ko.observableArray(sets.map(function(item) { return new SetModel(item);}));
        this.currentSet = ko.observable(this.sets[0]);
        this.editorVisible = ko.observable(false);
        this.startEditing = function() {
            this.editorVisible(true);
        }.bind(this);
        this.startAdding = function() {
            let newest = new SetModel({"name": "New Userset", "default": false, "emails": ""});
            this.sets.push(newest);
            this.currentSet(newest);
            this.editorVisible(true);
        }.bind(this);
        this.saveSet = function() {
            localStorage.setItem(GRADING_LOCAL_STORAGE_ITEM_USERSETS,
                JSON.stringify(this.sets().map(function(set) {return {
                    "name": set.name(),
                    "default": set.default(),
                    "emails": set.emails()
                }})));
            this.editorVisible(false);
        }.bind(this);
        this.deleteSet = function() {
            if (this.currentSet().default()) {
                this.editorVisible(false);
                return false;
            }
            if (confirm("Are you sure you want to delete this set?")) {
                let deleted = this.currentSet();
                this.currentSet(this.sets[0]);
                this.sets.remove(deleted);
                this.editorVisible(false);
            }
        }.bind(this);
        this.selectableSets = ko.pureComputed(function() {
            return this.sets().map(function(item) { return item.name(); });
        }.bind(this));

        this.emails = ko.pureComputed(function() {
            if (this.currentSet() === undefined) {
                return "";
            }
            return this.currentSet().emails();
        }.bind(this));
        let submissionRows = $(".submission-row");
        this.emails.subscribe(function() {
            let current = this.currentSet();
            if (current === undefined ||current.default() || current.emails().trim() === "") {
                // Filter nothing
                submissionRows.show();
            } else {
                let emails = current.emails().split(",").map(item => item.trim().toLowerCase());
                submissionRows.filter(function() {
                    return -1!==emails.indexOf($(this).data('student').toLowerCase());
                }).show();
                submissionRows.filter(function() {
                    return -1===emails.indexOf($(this).data('student').toLowerCase());
                }).hide();
            }
        }.bind(this));
    }

    function GradingModel() {
        this.userSet = new UserSetModel();
    }
    $(document).ready(function() {
        grading = new GradingModel();
        ko.applyBindings(grading);

        if (inIframe()) {
            $("#relaunch-login button").click(()=>relaunchInWindow());
            $("#relaunch-login").show();

            {% for textbook in textbooks %}
                $("#load-textbook-{{ textbook.url }}").click((event) => {
                    relaunchInWindow({{ url_for('assignments.load', _external=True, assignment_url=textbook.url,course_id=g.course.id,
                    grade_mode='textbook')|tojson }});
                    event.preventDefault();
                });
            {% endfor %}
            $("#launch-scratchpad").click((event) => {
                relaunchInWindow({{ url_for('assignments.load', _external=True, course_id=g.course.id)|tojson }});
                    event.preventDefault();
            })
            $("#launch-submissions-filter").click((event) => {
                relaunchInWindow({{ url_for('assignments.load', _external=True, course_id=g.course.id, grade_mode='filter', embed="false")|tojson }});
                    event.preventDefault();
            })
        $("#launch-submissions-watch").click((event) => {
                relaunchInWindow({{ url_for('assignments.load', _external=True, course_id=g.course.id, grade_mode='watch', embed="false")|tojson }});
                    event.preventDefault();
            })

        }
    });
    </script>
    <script src="{{  url_for('static', filename='libs/blockpy_server/blockpy_server.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Grader Dashboard</h1>

    <p>
        Hello {{ g.user.name() }} ({{ g.user.id }}), you are in "{{ g.course.name }}" ({{g.course.id}}).
    </p><p>
        You are a grader! Welcome to your dashboard!
    </p>

    <div id="relaunch-login" style="display:none;">
        If third party cookies are not enabled correctly in your browser, then you may need to relaunch this page.
        Click this button to relaunch this outside of Canvas (should log you in with cookies).
        <button class="btn btn-primary">Relaunch</button>
    </div>

    <div class="row">

    <!-- Textbooks -->
    {% if textbooks %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Textbook{{ 's' if textbooks|length > 1 else '' }}</h5>
                <p class="card-text">See an overview of the entire textbook, including later chapters!.</p>
                {% for textbook in textbooks %}
                <a target=_blank href="{{ url_for('assignments.load_textbook', path=textbook.url, course_id=g.course.id, embed=True) }}"
                   class='btn btn-primary' id="load-textbook-{{ textbook.url }}">Read {{ textbook.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BlockPy Scratchpad</h5>
                <p class="card-text">Need a place to quickly run some BlockPy code and experiment? Get a reusable scratchpad!</p>
                <a target=_blank href="{{ {"force_default_assignment":"true"}|modify_query }}" class="btn btn-primary" id="launch-scratchpad">BlockPy Scratchpad</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Submissions</h5>
                <p class="card-text">Want to look at the latest code for anyone in the course?</p>
                <a target=_blank href="{{ url_for('courses.submissions_filter', course_id=course_id) }}" class="btn btn-primary"
                    id="launch-submissions-filter">View Student Submissions</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Submissions (Experimental)</h5>
                <p class="card-text">A different interface for viewing students' submissions, with some fancier features (but also a little harder to get an overview)</p>
                <a target=_blank href="{{ url_for('courses.watch_events', course_id=course_id) }}" class="btn btn-primary"
                    id="launch-submissions-watch">View Submissions (Experimental)</a>
            </div>
        </div>
    </div>

    {% if is_instructor %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Course Settings</h5>
                <p class="card-text">The main instructor interface for editing a course. Be careful using this, only use it if you know what you are doing!</p>
                <a target=_blank href="{{ url_for('courses.course', course_id=course_id) }}" class="btn btn-primary">Edit Course Settings</a>
            </div>
        </div>
    </div>
    {% endif %}


    </div>

    {% if pending_review %}
    <h2>Ungraded Submission Requiring Human Review</h2>

    <p>The following submissions are ready for review</p>

    <!-- User Set Selector -->
    <div>
        Show students:
        <select data-bind="options: userSet.sets,
                           optionsText: 'name',
                           value: userSet.currentSet">
        </select>
        <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bind="click: userSet.startEditing,
                                         visible: !userSet.editorVisible()">Edit this user set</button>
        <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bind="click: userSet.startAdding,
                                         visible: !userSet.editorVisible()">Add new user set</button>
        <div data-bind="visible: userSet.editorVisible">
            <label>User Set Name:
                <input type="text"
                       data-bind="value: userSet.currentSet().name,
                                  disable: userSet.currentSet().default"></label><br>
            <label style="min-width: 100%">Emails (separated by commas):<br>
                <textarea data-bind="value: userSet.currentSet().emails,
                                     disable: userSet.currentSet().default"
                 style="min-width: 100%"></textarea></label><br>
            <button type="button" class="btn btn-danger btn-sm"
                    data-bind="click: userSet.deleteSet">Delete current user set</button>
            <button type="button" class="btn btn-success btn-sm"
                    data-bind="click: userSet.saveSet">Save user set</button>
        </div>
    </div>

    <table class="table table-condensed table-hover table-striped table-bordered">
    <caption>Student's submissions pending review.</caption>
    <tbody>
    <tr>
        <th>Assignment</th>
        <th>Student</th>
        <th>View</th>
    </tr>
    {% for submission in pending_review %}
    <tr data-student="{{ submission[1].email }}" data-assignment="{{ submission[2].id }}"
        class="submission-row">
        <td>{{ submission[2].title() }}</td>
        <td>{{ submission[1].name() }} ({{ submission[1].email }})</td>
        <td>{% if submission[0] != None -%}
            <a target=_blank
               href="{{ url_for('blockpy.view_submission', submission_id=submission[0].id) }}">View</a>
        {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% endblock %}