{% extends 'helpers/layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
    <script>
    URLS_UPDATE_SUBMISSION = "{{ url_for('blockpy.update_submission') }}";
    USER_DATA = {{ users|tojson }};

    function SetModel(params) {
        this.name = ko.observable(params.name);
        this.emails = ko.observable(params.emails);
        this.default = ko.observable(params.default);
    }

    const GRADING_LOCAL_STORAGE_ITEM_USERSETS = "Grading-Usersets";
    function UserSetModel() {
        let sets = localStorage.getItem(GRADING_LOCAL_STORAGE_ITEM_USERSETS);
        if (sets === null) {
            sets = [{"name": "All students", "default": true, "emails": ""}];
        } else {
            sets = JSON.parse(sets);
        }
        this.sets = ko.observableArray(sets.map(function(item) { return new SetModel(item);}));
        this.currentSet = ko.observable(this.sets[0]);
        this.editorVisible = ko.observable(false);
        this.startEditing = function() {
            this.editorVisible(true);
        }.bind(this);
        this.startAdding = function() {
            let newest = new SetModel({"name": "New Userset", "default": false, "emails": ""});
            this.sets.push(newest);
            this.currentSet(newest);
            this.editorVisible(true);
        }.bind(this);
        this.saveSet = function() {
            localStorage.setItem(GRADING_LOCAL_STORAGE_ITEM_USERSETS,
                JSON.stringify(this.sets().map(function(set) {return {
                    "name": set.name(),
                    "default": set.default(),
                    "emails": set.emails()
                }})));
            this.editorVisible(false);
        }.bind(this);
        this.deleteSet = function() {
            if (this.currentSet().default()) {
                this.editorVisible(false);
                return false;
            }
            if (confirm("Are you sure you want to delete this set?")) {
                let deleted = this.currentSet();
                this.currentSet(this.sets[0]);
                this.sets.remove(deleted);
                this.editorVisible(false);
            }
        }.bind(this);
        this.selectableSets = ko.pureComputed(function() {
            return this.sets().map(function(item) { return item.name(); });
        }.bind(this));

        this.emails = ko.pureComputed(function() {
            if (this.currentSet() === undefined) {
                return "";
            }
            return this.currentSet().emails();
        }.bind(this));
        let submissionRows = $(".submission-row");
        this.emails.subscribe(function() {
            let current = this.currentSet();
            if (current === undefined ||current.default() || current.emails().trim() === "") {
                // Filter nothing
                submissionRows.show();
            } else {
                let emails = current.emails().split(",").map(item => item.trim().toLowerCase());
                submissionRows.filter(function() {
                    return -1!==emails.indexOf($(this).data('student').toLowerCase());
                }).show();
                submissionRows.filter(function() {
                    return -1===emails.indexOf($(this).data('student').toLowerCase());
                }).hide();
            }
        }.bind(this));
    }

    function GradingModel() {
        this.userSet = new UserSetModel();
    }
    $(document).ready(function() {
        grading = new GradingModel();
        ko.applyBindings(grading);
    });
    </script>
    <script src="{{  url_for('static', filename='libs/blockpy_server/blockpy_server.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Grader Dashboard</h1>

    <p>Welcome to your dashboard! This feature is in beta. Expect issues!</p>

    <p>If you wanted the default assignment scratchpad, go <a href="{{ {"force_default_assignment":"true"}|modify_query }}">here</a>.</p>

    <p>If you wanted to view submissions for this course, go to <a target=_blank href="{{ url_for('courses.submissions_filter', course_id=course_id) }}">View Submissions</a>.</p>

    <p>If you wanted to watch events for this course, go to <a target=_blank href="{{ url_for('courses.watch_events', course_id=course_id) }}">Watch Events</a>.</p>

    <p>The following submissions are ready for review</p>

    <!-- User Set Selector -->
    <div>
        Show students:
        <select data-bind="options: userSet.sets,
                           optionsText: 'name',
                           value: userSet.currentSet">
        </select>
        <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bind="click: userSet.startEditing,
                                         visible: !userSet.editorVisible()">Edit this user set</button>
        <button type="button" class="btn btn-sm btn-outline-secondary"
                data-bind="click: userSet.startAdding,
                                         visible: !userSet.editorVisible()">Add new user set</button>
        <div data-bind="visible: userSet.editorVisible">
            <label>User Set Name:
                <input type="text"
                       data-bind="value: userSet.currentSet().name,
                                  disable: userSet.currentSet().default"></label><br>
            <label style="min-width: 100%">Emails (separated by commas):<br>
                <textarea data-bind="value: userSet.currentSet().emails,
                                     disable: userSet.currentSet().default"
                 style="min-width: 100%"></textarea></label><br>
            <button type="button" class="btn btn-danger btn-sm"
                    data-bind="click: userSet.deleteSet">Delete current user set</button>
            <button type="button" class="btn btn-success btn-sm"
                    data-bind="click: userSet.saveSet">Save user set</button>
        </div>
    </div>

    <table class="table table-condensed table-hover table-striped table-bordered">
    <caption>Student's submissions pending review.</caption>
    <tbody>
    <tr>
        <th>Assignment</th>
        <th>Student</th>
        <th>View</th>
    </tr>
    {% for submission in pending_review %}
    <tr data-student="{{ submission[1].email }}" data-assignment="{{ submission[2].id }}"
        class="submission-row">
        <td>{{ submission[2].title() }}</td>
        <td>{{ submission[1].name() }} ({{ submission[1].email }})</td>
        <td>{% if submission[0] != None -%}
            <a target=_blank
               href="{{ url_for('blockpy.view_submission', submission_id=submission[0].id) }}">View</a>
        {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    <p>You are {{ g.user.name() }} ({{ g.user.id }}), currently in "{{ g.course.name }}" ({{g.course.id}})</p>

    {% if is_instructor %}
        <h4>Instructor Tools</h4>
        {% if g.course.endpoint != session.get("lis_outcome_service_url", "") %}
            <script>$(document).ready(function() {
                $("#update-course-outcome-url").click(function() {
                    $.post("{{ url_for("courses.fix_course_outcome_url") }}",
                        {
                            "new_url": {{ session.get("lis_outcome_service_url", "")|tojson }}
                        });
                });
            });</script>
        <button type="button" class="btn btn-info" id="update-course-outcome-url">
            Update LTI course outcome URL </button>
        to <code>{{ session.get("lis_outcome_service_url", "") }}</code><br>
            <small>Use this button if your initial course outcome URL is not correct.</small>
        {% endif %}
    {% endif %}

{% endblock %}