{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Index
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>

let mainModel;
let server;
$(function() {

    let loggedInUser = {{ user.encode_json()|tojson }};
    loggedInUser.roles = [];
    let myCourses = [], publicCourses = [];
    {% for course, role in my_courses -%}
        loggedInUser.roles.push({{  role.encode_json()|tojson }});
        myCourses.push({{ course.encode_json()|tojson }});
    {% endfor -%}
    {% for course in public_courses -%}
        publicCourses.push({{ course.encode_json()|tojson }});
    {% endfor %}
    server = new frontend.Server(null, {}, {
        users: [loggedInUser],
        courses: myCourses.concat(publicCourses)
    });
    myCourses = myCourses.map((course) => server.courseStore.getInstance(course.id));
    publicCourses = publicCourses.map((course) => server.courseStore.getInstance(course.id));

    mainModel = {
        server: server,
        myCourses: [...new Set(myCourses)],
        publicCourses: [...new Set(publicCourses)],
        user: server.userStore.getInstance(loggedInUser.id)
    };

    mainModel.myCourses.sort(frontend.dateCreatedSorter);
    mainModel.publicCourses.sort(frontend.dateCreatedSorter);

    ko.applyBindings(mainModel);
});

</script>
{% endblock %}

{% block body %}

<h1>Courses</h1>

    <!-- ko if: myCourses.length -->

    You are enrolled in the following courses:

    <course-list params="server: server, courses: myCourses, user: user"></course-list>

    <!-- /ko -->

    <!-- ko ifnot: myCourses.length -->
    You are not enrolled in any courses.
    <!-- /ko -->


<h3 class="mt-3"> Public Courses</h3>

    The following courses are available to everyone:

    <course-list params="server: server, courses: publicCourses, user: user"></course-list>

<h3>Create</h3>

<a href="{{ url_for('courses.add') }}" class='btn btn-success'>Create new course</a><br><br>
Or get instructions to <a href="{{ url_for('courses.add_canvas') }}">create new Canvas/LMS course</a>

{% endblock %}