{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Index
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}
<script src='{{ url_for("static", filename="libs/knockout-3.4.0.js")}}'></script>
<script type='text/javascript'>

$().ready(function() {
    mainModel = {
        'my_courses': ko.observableArray([]),
        'public_courses': ko.observableArray([]),
    };
    {% for course, role in my_courses %}
    mainModel.my_courses.push({
        'id': ko.observable({{ course.id|tojson}}),
        'name': ko.observable({{ course.name|tojson}}),
        'service': ko.observable({{ course.service|tojson}}),
        'role': ko.observable({{ role.name|title|tojson }}),
        'url': ko.observable({{ url_for('courses.course', course_id=course.id)|tojson}}),
        'created': ko.observable({{ course.date_created|tojson }}),
        'sort_date': ko.observable({{ (course.date_created.strftime('%Y/%m'))|tojson }}),
        'display_date': ko.observable({{ (course.date_created.strftime('%b %Y'))|tojson }})
    })
    {% endfor %}
    
    mainModel.my_courses.sort(function(left, right) {
        return left.sort_date() === right.sort_date() ? 0
             : left.sort_date() < right.sort_date() ? -1
             : 1;
    });
    
    {% for course in public_courses %}
    mainModel.public_courses.push({
        'id': ko.observable({{ course.id|tojson}}),
        'name': ko.observable({{ course.name|tojson}}),
        'service': ko.observable({{ course.service|tojson}}),
        'url': ko.observable({{ url_for('courses.course', course_id=course.id)|tojson}})
    })
    {% endfor %}
    
    ko.applyBindings(mainModel);
});

</script>
{% endblock %}

{% block body %}

<h1>Courses</h1>

<h3>Create</h3>

<a href="{{ url_for('courses.add') }}" class='btn btn-outline-secondary'>Create new course</a><br>
<a href="{{ url_for('courses.add_canvas') }}" class='btn btn-outline-secondary'>Create new Canvas course</a>
<br><br>
Want to make <strong><a href="{{ url_for('courses.making_problems') }}">new BlockPy assignments?</a></strong>

<h3>My Courses</h3>

You are enrolled in the following courses:

<ul data-bind="foreach: my_courses">
    <li>
        <a data-bind="attr: {href: url}">
            <strong data-bind="text: name()"></strong>:</a>
        <span data-bind="text: role"></span>
        (<span data-bind="text: display_date"></span>)
    </li>
</ul>

<h3> Public Courses</h3>

The following courses are available to everyone:

<ul data-bind="foreach: public_courses">
    <li>
        <a data-bind="attr: {href: url}">
            <b data-bind="text: name()"></b>
        </a>
    </li>
</ul>

{% endblock %}