{% extends 'helpers/layout.html' %}

{% block title %}
    Courses: Making Problems
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extracss %}

    .highlight pre, .linenodiv pre {
    background-color: #FEFEFE;
    }

{% endblock %}

{% block body %}
    
    <h1>Table of Contents</h1>
    <ul>
        <li><a href="#making-assignments">Making Assignments</a></li>
        <li><a href="#editing-reading">Editing a Reading</a></li>
        <li><a href="#editing-quiz">Editing a Quiz</a></li>
        <li><a href="#editing-coding">Editing a BlockPy Coding Problem</a></li>
        <li><a href="#blockpy-feedback">Writing Automatic Feedback</a></li>
        <li><a href="#linking-canvas">Linking BlockPy Assignments in Canvas</a></li>
    </ul>

    <h1>Making Assignments from BlockPy Site</h1>

    <p>
        Making assignments in the BlockPy site tends to be easier, since you will have more screen space. The editor is
        also slightly more sophisticated.
    </p>

    <p>
        <strong>Step 0:</strong> Make sure you have <a href="{{ url_for('courses.add_canvas') }}">created a new Canvas
        course</a>. Presently, BlockPy is not supporting any other LMS. It is possible that all of the following will
        work for Moodle, but it has not been tested extensively.<br><br>

        You should be able to open up the BlockPy Dashboard in Canvas, which will ensure
        you are logged in and you have Instructor permissions for your new course.
    </p>

    <p><img src="{{ url_for('static', filename='images/instructions/dashboard.png') }}" class='center-block border p-4'
            alt='Picture of the BlockPy Dashboard, with the user logged into the course as an instructor'/>
    </p>

    <p>
        <strong>Step 1:</strong> Open the <a href="{{ url_for('courses.index') }}">course on BlockPy</a> and click
        Manage Assignments.
    </p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_courses.png') }}"
            class='center-block border p-4'
            alt="Screenshot of BlockPy courses page, listing all of this instructor's courses"/><br></p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_course_example.png') }}"
            class='center-block border p-4'
            alt="Screenshot of a single course page on BlockPy, highlighting the Manage Assignments button"/><br></p>

    <p>
        <strong>Step 2:</strong> From this interface, you can create BlockPy assignments and groups. Let's talk about
        some vocabulary.

    <ul>
        <li><strong>BlockPy Assignment: </strong>A single blockpy coding problem, reading, or quiz. Sometimes referred
            to as a "Problem" for simplicity. Distinct from a Canvas Assignment, instead living on BlockPy's server.
        </li>
        <li><strong>BlockPy Assignment Group: </strong> A collection of BlockPy Assignments organized by name. The
            assignments within a group are naturally sorted by their name. Also lives on the BlockPy server
        </li>
        <li><strong>Canvas Assignment: </strong> A resource that lives on Canvas' server and can link to a BlockPy
            Assignment or Assignment Group via the External Tools API (LTI). Specifically, a Canvas Assignment can link
            to a specific BlockPy URL.
        </li>
    </ul>

    If you want to create Canvas Assignments for the BlockPy Assignments you create, that needs to happen afterwards via
    the Canvas site.
    There are instructions further below for <a href="#linking-canvas">linking Canvas and BlockPy assignments</a>.
    </p>

    <p>
        <strong>Step 2.1:</strong> There are two general kinds of resources to create: Assignment Groups and
        Assignments. Groups organize Assignments for a course, so you usually will
        start by creating a Group.
    </p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_save_group.png') }}"
            class='center-block border p-4'
            alt='Screenshot of the Create Assignment Group Modal'/><br></p>

    <p>You need to specify the group's Name and URL.
    <ul>
        <li><strong>Name: </strong> The name is not visible to students, but is shown in the assignment interface for
            instructors. We recommend something friendly and descriptive. This will also be used to sort the groups in
            the interface (alphabetically).
        </li>
        <li><strong>URL: </strong> This is a unique bit of text that can be used to link to this assignment instead of
            its numeric ID. The URL must be unique across all assignment groups. The general format we recommend is
            <code>(course name)_(topic name)</code>; so for our <code>Sneks</code> Python course, our FOR loop
            assignment group might be given the URL of <code>sneks_loops</code>. Since these can end up being used as
            URLs and Filenames, stick to using only letters, numbers, dashes, and underscores.
        </li>
    </ul>
    </p>

    <p>The newly created Group will appear in order in the list below. </p>

    <p><strong>Step 2.2:</strong> You can start creating new assignments for the group using the Create Assignment
        button.</p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_create_assignment.png') }}"
            class='center-block border p-4'
            alt='Screenshot of the Create Assignment Modal'/><br>
    </p>

    <p>Assignments are a little more complicated than Groups.

    <ul>
        <li><strong>Type: </strong> There are currently three types of assignments:
            <ul>
                <li><strong>BlockPy</strong> assignments are coding problems using the BlockPy interface.</li>
                <li><strong>Readings</strong> allow you to have a bit of scrollable, embedded markdown on its own page.
                </li>
                <li><strong>Quiz Question</strong> are very alpha-level replacements for Canvas Quizzes. They are
                    horrible to edit :)
                </li>
            </ul>
        </li>
        <li><strong>Name: </strong> Like groups, assignments have a publicly facing name used to sort them within their
            Group. However, students WILL see this name.
        </li>
        <li><strong>Unique URL: </strong> The same rules for Group URLs apply to Assignment URLs. They should be unique
            and filesystem safe. Our convention is similar as for groups, with the addition of the problem's name. For
            example, if you had a For Loop problem on converting temperatures, it might be <code>sneks_loops_convert_temperatures</code>.
        </li>
        <li><strong>Add to Group: </strong> If you have previously created a group, then this will default to that most
            recently created group. Otherwise, it will default to the most previously used group, or the Unsorted Group.
            The Unsorted Group is where assignments live when they do not belong to any other group.
        </li>
    </ul>
    </p>

    <p><strong>Step 3: </strong>Now you can view and edit your assignments. Here are some useful features:
    <ul>
        <li>You can click a Group's name to edit the name and URL. This is a little wonky but should work.</li>
        <li>To view an entire group, hover over its row and click the "View" button that appears.</li>
        <li>To remove a group, hover over its row, click the dropdown arrow on the right, and click Delete.</li>
        <li>To change the Passcode and IP Address for a group, hover over its row, click the dropdown arrow on the rihgt, and click Edit Security.</li>
        <li>You can edit an assignment by clicking the Edit button on the right hand side of it. This is also one way of getting its assignment URL for Canvas.</li>
        <li>To move an assignment to a different group, hover over the row of the assignment, click the Move button, and then click the desired target group.</li>
        <li>To delete an assignment, click the drop-down arrow to the right of the assignment.</li>
    </ul>
    </p>

    <h1 id="editing-reading">Editing a Reading</h1>

    <p>Readings are a way to embed some markdown for students to review before starting an assignment group.
        Or in the middle, it's not like it has to be anywhere specifically.
    Anyway, to edit the content of the Reading page, you can use the [Form Editor] option.
    This shows off a Markdown editor WYSIWYG. After you are happy with your content (preview it with the "Actual Reader"), then you can click "Save Assignment" to persist your changes.
    </p>

    <p>Readings can also have Points (automatically given when they load the Reading page). They also have a Name and URL like any other Assignment.</p>

    <p>The additional settings are a little wonky, but currently include:
    <ul>
        <li><code>header</code>: A header tag rendered at the top of the page</li>
        <li><code>slides</code>: A URL that will be displayed as a clickable button in the topright to provide downloadable slides</li>
        <li><code>youtube</code>: A YouTube ID (e.g., <code>2Nr1ZDbGtI8</code>) that will be embedded as a video (with tracking) in the page.</li>
        <li><code>summary</code>: A string of text that will be rendered at the top of the page.</li>
    </ul>
    </p>

    <p>Remember, editing the settings requires you to click the "Save Assignment" button again!</p>

    <h1 id="editing-quiz">Editing a Quiz</h1>

    <p>You can find the latest documentation on <a href="https://github.com/blockpy-edu/blockpy-server/blob/master/frontend/components/quizzes/quiz_schema.md" target="_blank">quiz editing here.</a></p>

    <h1 id="editing-coding">Editing a BlockPy Coding Problem</h1>

    <p>Okay, so this is probably why you are here. Editing a BlockPy problem can be a little overwhelming. Take it slow and easy!</p>

    <p><strong>Step 1:</strong> Let's look at the Settings tab of the BlockPy interface.</p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_coding_settings.png') }}"
            class='center-block border p-4'
            alt='Screenshot of the latest version of the BlockPy Coding Interface, specifically the Settings screen'/>
    </p>

    <p>Here is some information:
        <ul>
            <li>In the top-right, we have checked the "View as Instructor". Uncheck that to see the interface how students will eventually see it.</li>
            <li>Also in the top-right is a button with cross-hair arrows. You can activate fullscreen with this button if you need more room.</li>
            <li>The last button in the top-right is for editing default inputs. More on that later.</li>
            <li>In the top-left, we see the assignment's name and instructions. You can edit the Instructions as markdown in the "Instructions" tab. Note that every time you edit the Instructions, it will automatically save.</li>
            <li>Below the instructions are a Console and Feedback area. Students (and you) will see results from running a program here.</li>
            <li>Next row is the Files tab. This controls which editor is visible.
            <ul>
                <li><code>answer.py</code>: This is the current editable submission for the assignment; when you want to test an answer, you can edit this code and run it. Auto-saves as you type.</li>
                <li><code>Instructions</code>: This is a markdown editor for the assignment's instructions. Also auto-saves as you type.</li>
                <li><code>Settings</code>: Easily the most complicated menu. Explained a little more below. Does not auto-save.</li>
                <li><code>Starting Code</code>: If you want students to start off with some code in their editor, add it here. Will not affect existing submissions. Autosaves.</li>
                <li><code>On Run></code>: This is a Python editor that let's you write feedback generating code. It is executed after the students' code is run. Autosaves. Explained in more detail in <a href="#blockpy-feedback">Writing Feedback</a>.</li>
                <li><code>Add New</code>: BlockPy has a simplistic filesystem that let's you create additional files for students. Some are special (<code>On Eval</code>, <code>URL Data</code>), but you can also create generic files to provide students or hide for instructor grading purposes. Explained further below (not yet completed).</li>
            </ul>
            </li>
        </ul>
    </p>

    <p>The Settings tab is one of the most complicated. There are quite a few settings available for a Problem. Most of them are explained in their text.
        Further explanations will go here, as needed. Critically, however, you need to know that these settings are NOT automatically saved. You must manually
        click the "Save changes" button, unlike the rest of the editor.
    </p>

    <p>At the very bottom of the page, there is a row used to show off the current status of the environment and debug information.
    Ideally, you can ignore it, but here's some additional info just in case.
    </p>

    <p><img src="{{ url_for('static', filename='images/instructions/blockpy_coding_status.png') }}"
            class='center-block border p-4'
            alt='Screenshot of the latest version of the BlockPy Coding Interface, specifically the Settings screen'/>
    </p>

    <p>
        The first row is a set of buttons that will ideally always be green. They indicate whether a particular server endpoint is working correctly.
        When they turn red, they indicate that something has gone wrong. If they turn grey, they are not active. Inactive buttons are common when you
        are working on ungraded assignments like in the "Try Editor" screen.
    </p>
    <p>
        As an instructor, it is easy to have some of the buttons turn red: "Update Submission" will rarely work, for instance, since there's no gradebook entry to update for your user (unless you use View Student mode in Canvas).
    </p>
    <p>
        The line below that says "Ready" shows an HTTP or Server Error if there was one.
    </p>
    <p>
        The last line shows various pieces of information about the current user, course, group, assignment, and submission. Often, when reporting issues, it is helpful to show this information so we know if it's caused by a linking issue.
    </p>

    <h1 id="blockpy-feedback">Writing Automatic Feedback</h1>

    <p>
    Automatic Feedback in BlockPy is achieved by adding Pedal assertions in the <code>On Run</code> tab of the editor.
    If you are not familiar, <a href="https://pedal-edu.github.io/pedal" target="_blank">Pedal</a> is a Python library for writing feedback code.
    It originally started as a submodule of BlockPy, but spun off to be its own entity. BlockPy still supports Pedal thoroughly!
    </p>

    {% filter highlight_python_code %}
from pedal import *

assert_output(student, "Hello world!")
    {% endfilter %}

    <p>
        For more information about writing Pedal feedback, refer to this <a href="https://pedal-edu.github.io/pedal/teachers/quickstart.html#core-feedback-functions">quickstart guide</a>.
    </p>

    <h1 id="linking-canvas">Linking BlockPy Assignments in Canvas</h1>

    <p>
        Here is the current workflow for creating new BlockPy problems with feedback.
    </p>

    <p>
        <strong>Step 0:</strong> Make sure you have <a href="{{ url_for('courses.add_canvas') }}">created a new Canvas
        course</a>. Presently, BlockPy is not supporting any other LMS. It is possible that all of the following will
        work for Moodle, but it has not been tested extensively.
    </p>

    <p>
        <strong>Step 1:</strong> Visit the course on Canvas and click the Assignments tab.
    </p>

    <p>
        <img src="{{ url_for('static', filename='images/instructions/choose_assignments.png') }}"
             class='center-block border p-4'
             alt='Screenshot of canvas navigation menu with assignments button circled'/><br>
    </p>

    <p>
        <strong>Step 2:</strong> Click the [+Assignment] button in the top right corner.
    </p>

    <img src="{{ url_for('static', filename='images/instructions/add_assignment.png') }}" class='center-block'
         alt='Screenshot of Canvas Assignment screen with an arrow pointing to the +Assignment button'/><br>

    <p>
        <strong>Step 3:</strong> Set the assignment type to External Tool.
    </p>

    <p>
        At this point, you have a choice. If you already know the URL of the BlockPy assignment or group that you wish
        to use, you can just place it in the input box.
        However, you can also select it from a visual interface by clicking [Find].
    </p>

    <img src="{{ url_for('static', filename='images/instructions/external_tool.png') }}" class='center-block'
         alt='Screenshot of Edit Assignment screen on Canvas with arrwos pointing to the External Tool dropdown and the Find button'/>
    <br>

    <p>
        <strong>Step 4:</strong> Click BlockPy.
    </p>

    <img src="{{ url_for('static', filename='images/instructions/choose_blockpy.png') }}" class='center-block'
         alt='Screenshot of Canvas Configure External Tool Dialog with an arrow pointing at the BlockPy Version X option'/>
    <br>

    <p>
        <strong>Step 5:</strong> Find the desired BlockPy Assignment or Assignment Group. You may want to choose an
        assignment from another course.
    </p>

    <img src="{{ url_for('static', filename='images/instructions/edit_assignments.png') }}" class='center-block'
         alt='Screenshot of BlockPy menu for selecting assignments.'/><br>

    <p>
        <strong>Step 6:</strong> When you have created your desired group or assignment, click Select to attach it to
        the Canvas assignment. Click Select again to close the menu, and then finish setting any other options for the
        assignment in canvas (e.g., number of points, due date, assignment name). Save the assignment.
    </p>

{% endblock %}

