{% extends 'helpers/layout.html' %}
{% import 'helpers/navigation.html' as navigation %}

{% block title %}
Manage Exam Time for Users
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function modifyTimeLimit(studentId, amount, resultTarget) {
    if (amount === null) {
        alert("Please enter a valid time amount.");
        return;
    }
    var selected = $("#assignment-select").val().join(",");
    if (selected === null || selected.length === 0) {
        alert("Please select at least one assignment to update.");
        return;
    }
    $.post(
        {{ url_for('courses.modify_time')|tojson}},
        {
            assignment_ids: selected,
            student_id: studentId,
            amount: amount,
            course_id: {{ course_id }}
        },
        function(data) {
            if (data.success) {
                const message = data.new_limits.map(
                    update => `${update.assignment.name}: ${update.time_limit}`
                ).join(", ");
                $("#"+resultTarget).html(message);
            } else {
                alert("Error: " + data.message);
            }
        },
    );
}

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);

    $("#update-assignments-button").click(function() {
        var selected = $("#assignment-select").val().join(",");
        if (selected === null || selected.length === 0) {
            alert("Please select at least one assignment to update.");
            return;
        }
        window.location.href = {{ url_for('courses.manage_time', course_id=course_id)|tojson }}+"&assignment_ids=" + selected;
    });


});

</script>

{% endblock %}

{% block body %}

    <h1>Manage Exam Time for Users</h1>
    {{ navigation.navigate_course(course_id) }}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
            {% for message in messages %}
                {{ message|safe }}<br>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <p>
        This page allows you to edit students' exam time for a given assignment group.
    </p>


    <p>
        To find a set of assignments to modify, you can select from the multi-select below.
    </p>

    {% if all_timed_assignments %}

        <div class="row">
            <div class="col-sm-6">
                <select multiple="multiple" size="10" id="assignment-select">
                {% for assignment in all_timed_assignments.values() %}
                    <option value="{{ assignment.id }}"
                        {% if assignment.id in chosen_assignment_ids %}
                            selected="selected"
                        {% endif %}
                    >{{ assignment.name }} ({{ assignment.url }})</option>
                {% endfor %}
                </select>
                <br><br>
                <button id="update-assignments-button" class="btn btn-primary">Refresh assignment display</button>
            </div>
            <div class="col-sm-6">
                <p>
                    Currently displayed assignments:
                    <ul>
                        {% for assignment in all_timed_assignments.values() %}
                            {% if assignment.id in chosen_assignment_ids %}
                                <li>{{ assignment.name }} ({{ assignment.url }}): {{ assignment.get_setting('time_limit', None) }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th width="20%">User</th>
                    <th>Modified Time Limits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            {% for role, user in all_users %}
                <tr>
                <td>
                    {{ user.name() }} ({{ user.email }})<br>
                    <code>{{ role.name }}</code>
                </td>
                <td id="time-limit-report-{{ user.id }}">
                    {% for submission in submissions_by_user[user.id] %}
                        {% if submission.time_limit %}
                            {{ all_timed_assignments[submission.assignment_id].name }}: {{ submission.time_limit }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for amount in ["1.5x", "2x", "3x"] %}
                    <button class="btn btn-sm btn-outline-secondary" id="quick-set-time-{{ amount }}"
                    onclick="modifyTimeLimit({{ user.id }},'{{ amount }}', 'time-limit-report-{{ user.id }}')">
                        Set to {{ amount }} time
                    </button>
                    {% endfor %}
                    <button class="btn btn-sm btn-outline-secondary" id="quick-set-time-unset"
                    onclick="modifyTimeLimit({{ user.id }},'', 'time-limit-report-{{ user.id }}')">
                        Unset (use default time)
                    </button>
{#                    <span class="ml-4">#}
{#                        <input type="text" id="custom-set-time-amount">#}
{#                        <button class="btn btn-sm btn-outline-secondary" #}
{#                                id="custom-set-time">Set custom amount</button>#}
{#                    </span>#}

                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}

        <p><strong>No timed assignments found for this course.</strong></p>

    {% endif %}

{% endblock %}