{% extends 'helpers/layout.html' %}
{% import 'helpers/navigation.html' as navigation %}

{% block title %}
Courses: Assignments
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

    $().ready(function() {
        let loggedInUser = {{ user.encode_json()|tojson }};
        let course = {{ course.encode_json()|tojson }};
        server = new frontend.Server([], {
        }, {
            users: [loggedInUser],
            courses: [course]
        });
        mainModel = {
            course: server.courseStore.getInstance(course.id),
            server: server,
            user: server.userStore.getInstance(loggedInUser.id)
        }
        ko.applyBindings(mainModel);
    });

</script>
{% endblock %}

{% block body %}

    <h1>Manage Assignments</h1>
    {{ navigation.navigate_course() }}

    <assignment-manager params="server: server,
                                course: course,
                                user: user"></assignment-manager>


{% endblock %}