{% extends 'layout.html' %}

{% block title %}
Courses: Students
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);
});


</script>
{% endblock %}

{% block body %}

<h3>Manage Students</h3>

<p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course</a></p>

<a href="{{ url_for('courses.add_users', course_id=course_id) }}" class='btn btn-success'>Add Students</a>

<table class="table table-condensed table-hover">
<tbody>
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Remove</th>
</tr>
{% for role, student in students %}
<tr>
    <td>{{ student.last_name }}, {{ student.first_name}}</td>
    <td>{{ student.email }}</td>
    <td>{{ role.name }}</td>
    <td><a href="{{ url_for('courses.remove_role', role_id=role.id) }}" onclick="return confirm('Are you sure?')" class='btn btn-danger'>Remove</a><br><br></td>
<tr>
{% endfor %}
</tbody>
</table>


{% endblock %}