{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Submissions Filter
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);
    
    $("#search-assignments").change(function(i, v) {
        if (i.target.value != "") {
            window.location.href = {{ url_for('courses.submissions_filter', course_id=course_id)|tojson }}+"?criteria=assignment&search_key="+i.target.value;
        }
    });
    
    $("#search-students").change(function(i, v) {
        if (i.target.value != "") {
            window.location.href = {{ url_for('courses.submissions_filter', course_id=course_id)|tojson }}+"?criteria=student&search_key="+i.target.value;
        }
    });
});


</script>
{% endblock %}

{% block body %}

<h1>Submission Filter</h1>

<p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course</a></p>

<label>Student:
<select id='search-students'>
<option value=''></option>
{% for student in students %}
<option value='{{ student.id }}'
{%- if criteria == "student" and search_key == student.id %} selected 
{%- endif %} >{{ student.last_name}}, {{ student.first_name }}</option>
{% endfor %}
</select>
</label>
<br><br>

<label>Assignment:
<select id='search-assignments'>
<option value=''></option>
{% for assignment in assignments %}
<option value='{{ assignment.id }}'
{%- if criteria == "assignment" and search_key == assignment.id %} selected 
{%- endif %} >{{ assignment.title() }}</option>
{% endfor %}
</select>
</label>
<br><br>

{% include "helpers/submission_table.html" %}


{% endblock %}