{% extends 'helpers/layout.html' %}

{% from 'helpers/selectors.html' import select_student, select_assignment %}

{% block title %}
Submissions: {{ course.name }}
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);
    
    $("#search-assignments").change(function(i, v) {
        if (i.target.value != "") {
            window.location.href = {{ url_for('courses.submissions_filter', course_id=course_id)|tojson }}+"?criteria=assignment&search_key="+i.target.value;
        }
    });
    
    $("#search-students").change(function(i, v) {
        if (i.target.value != "") {
            window.location.href = {{ url_for('courses.submissions_filter', course_id=course_id)|tojson }}+"?criteria=student&search_key="+i.target.value;
        }
    });
});


</script>
{% endblock %}

{% block body %}

<h1>View Submissions</h1>

<p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course: <code>{{ course.name }}</code></a></p>

    {{ select_student(students, criteria, search_key) }}
    <br><br>


    {{ select_assignment(assignments_by_group, criteria, search_key) }}
    <br><br>

{% include "helpers/submission_table.html" %}


{% endblock %}