{% extends 'helpers/layout.html' %}

{% block title %}
Courses: Submissions Grid
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<style>
    .named-column {
        white-space: nowrap;
    }

    .table td a {
        text-decoration: none;
        display: block;
        text-align: center;
        color: black;
    }

    .table th a {
        text-decoration: none;
        display: block;
        color: black;
    }

    .table          { overflow: auto; height: 100px; }
    .table thead th { position: sticky; top: 0; z-index: 1; }

    table tr th:first-child,
    table td:first-child {
        position: sticky;
        width: 100px;
        left: 0;
        z-index: 10;
        background: #fff;
        border-left: 1px solid lightgrey;
    }

    table tr th:first-child {
      z-index: 11;
    }

    table tr th {
      position: sticky;
      top: 0;
      z-index: 9;
      background: #fff;
    }

</style>

<script type='text/javascript'>

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);
});

</script>
{% endblock %}

{% block body %}

<h3>Submission Grid</h3>

<p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course</a></p>

<div style='overflow-x: auto'>

<table class="table table-condensed table-hover table-striped table-bordered">
<tbody>

<!-- Group Header -->
<tr>
    <th class="headcol named-column"></th>
    {% for group, items in grouped_assignments.items() %}
    {% set colspan = items|length %}
    {% if colspan > 0 %}
    <th colspan="{{ colspan }}" class="named-column">{{ group.name }}</th>
    {% endif %}
    {% endfor %}
    <th>Total</th>
</tr>

<!-- Assignments -->
<tr>
    <th class="headcol named-column">Student Name</th>
    {% for group, items in grouped_assignments.items() %}
    {% for assignment in items %}
        <th class="named-column">
            <a href="{{ url_for("courses.submissions_filter", criteria="assignment", search_key=assignment.id, course_id=course_id) }}">
            {{ assignment.title()}}
        </a></th>
    {% endfor %}
    {% endfor %}
    <th>{{ total_points }}</th>
</tr>

<!-- Student Submissions -->
{% for student in students %}
<tr>
    <td class="headcol named-column">
        <a href="{{ url_for("courses.submissions_filter", criteria="student", search_key=student.id, course_id=course_id) }}">
        {{ student.name() }}
        </a>
    </td>
    {% for group, items in grouped_assignments.items() %}
    {% for assignment in items %}
    {% if (assignment.id, student.id) in submissions %}
        {% set submission = submissions[(assignment.id, student.id)] %}
        {% if submission.grading_status == 'Failed' %}
            <td class="named-column">
                <a href="{{ url_for('courses.submissions_specific',
                            submission_id=submission.id) }}">
                    <img src="{{ url_for('static', filename='images/red-x.png') }}">
                </a>
            </td>
        {% else %}
            {% if submission.correct or (submission.score is defined and submission.score|round(1) >= 100) %}
                <td class="named-column table-success">
                    <a href="{{ url_for('courses.submissions_specific', submission_id=submission.id) }}">
                        <i class="fa fa-check-square"></i>
                    </a>
                </td>
                {% elif (submission.score is defined and submission.score|round(1) > 0) %}
                <td class="named-column table-warning">
                    <a href="{{ url_for('courses.submissions_specific', submission_id=submission.id) }}">
                        <i class="far fa-plus-square"></i>
                    </a>
                </td>
                {% else %}
                <td class="named-column table-warning">
                    <a href="{{ url_for('courses.submissions_specific', submission_id=submission.id) }}">
                        <i class="far fa-square"></i>
                    </a>
                </td>
            {% endif %}
            <!--<img src="{{ url_for('static',
                             filename='images/'+
                             ('tick.png' if submission.correct else 'text_italic.png')) }}">-->
            </a>
        </td>
        {% endif %}
    {% else %}
        <td class="named-column">
        </td>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <td>{{ scores[student.id]|round(2) }}</td>
</tr>
{% endfor %}

</tbody>
</table>

</div>


{% endblock %}