{% extends 'layout.html' %}

{% block title %}
Courses: Submissions Grid
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

function MainModel() {
    var self = this;
}
mainModel = new MainModel();
$().ready(function() {
    ko.applyBindings(mainModel);
});


</script>
{% endblock %}

{% block body %}

<h3>Submission Grid</h3>

<p>Back to <a href="{{ url_for('courses.course', course_id=course_id) }}">Course</a></p>

<div style='overflow-x: auto'>

<table class="table table-condensed table-hover table-striped table-bordered">
<tbody>

<!-- Group Header -->
<tr>
    <th></th>
    {% for group in assignment_groups %}
    {% set colspan = grouped_assignments[group.id]|length %}
    {% if colspan > 0 %}
    <th colspan="{{ colspan }}">{{ group.name}}</th>
    {% endif %}
    {% endfor %}
</tr>

<!-- Assignments -->
<tr>
    <th></th>
    {% for group in assignment_groups %}
    {% for assignment in grouped_assignments[group.id] %}
    <th>{{ assignment.title()}}</th>
    {% endfor %}
    {% endfor %}
</tr>

<!-- Student Submissions -->
{% for student in students %}
<tr>
    <td>{{ student.name() }}</td>
    {% for group in assignment_groups %}
    {% for assignment in grouped_assignments[group.id] %}
    <td>
    {% if (assignment.id, student.id) in submissions %}
    <a href="{{ url_for('courses.submissions_specific', 
                submission_id=submissions[(assignment.id, student.id)].id) }}">
    <img src="{{ url_for('static', 
                 filename='images/'+
                 ('tick.png' if submissions[(assignment.id, student.id)].correct else 'text_italic.png')) }}">
    </a>
    {% else %}
    <img src="{{ url_for('static', filename='images/red-x.png') }}">
    {% endif %}
    </td>
    {% endfor %}
    {% endfor %}
</tr>
{% endfor %}

</tbody>
</table>

</div>


{% endblock %}