{% extends 'helpers/layout.html' %}
{% import 'helpers/navigation.html' as navigation %}

{% block title %}
Watch Events
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

    $(function() {
        let loggedInUser = {{ user.encode_json()|tojson }};
        let userIds = {{  request.values.get('user_ids')|tojson }} || getLocalStorage("BLOCKPY_SERVER_USERIDS", "");
        let assignmentIds = {{  request.values.get('assignment_ids')|tojson }} || getLocalStorage("BLOCKPY_SERVER_ASSIGNMENTIDS", "first");
        server = new frontend.Server({{ course_id|tojson }}, {
        }, {
            users: [loggedInUser]
        });
        mainModel = {
            pageCourseId: {{ course_id|tojson }},
            userIds: userIds,
            assignmentIds: assignmentIds,
            server: server
        }
        ko.applyBindings(mainModel);
    });

</script>
{% endblock %}

{% block body %}

    <h1>Watch Events</h1>
    {{ navigation.navigate_course(course_id) }}

    <watcher params="server: server, courseId: pageCourseId, assignmentIds: assignmentIds, userIds: userIds"></watcher>


{% endblock %}