{% extends 'helpers/layout.html' %}
{% import 'helpers/navigation.html' as navigation %}

{% block title %}
Watch Events
{% endblock %}

{% block statusbar %}
{% endblock %}

{% block extrahead %}

<script type='text/javascript'>

    $(function() {
        ko.applyBindings({
            pageCourseId: {{ course_id|tojson }},
            //userId: {{ g.user.id|tojson }},
            userIds: [{{  request.values.get('user_ids', "1") }}],
            assignmentIds: [{{  request.values.get('assignment_ids', "1") }}]
        });
    });

</script>
{% endblock %}

{% block body %}

    <h1>Watch Events</h1>
    {{ navigation.navigate_course() }}

    <watcher params="courseId: pageCourseId, assignmentIds: assignmentIds, userIds: userIds"></watcher>


{% endblock %}