{% set reduced_layout = embed or 'iframe' == request.form.get('launch_presentation_document_target') %}
{% extends 'layout.html' %}

{% block extrahead %}
<script src="{{ url_for('static', filename='libs/lunr.js') }}"></script>
<script src="{{ url_for('static', filename='libs/d3.min.js') }}"></script>

<script>
// Logging function
function log(action, body) {
    try {
        $.post({{ url_for('datasets.log_event')|tojson }}, {
                    'course_id': {{ (g.course.id if course in g else -1)|tojson }},
                    'student_id': {{ (g.user.id if user in g else -1)|tojson }},
                    'event': 'corgis',
                    'action': action,
                    'body': body
                }, function(data) {
                    console.log(data);
                });
    } catch(err) {console.error(err)};
}

</script>

<style>

    .ui-state-default .ui-icon .ui-dialog-titlebar-close{
        background-image: url("../img/ui-icons_888888_256x240.png");
    }

    .ui-dialog table {
        width: 100%;
        font-size: 10pt;
    }
    
    .ui-dialog td {
        border-bottom: 1px solid #CCC;
        /*overflow: */
    }
    
    .ui-dialog-content {
        max-height: 400px;
        overflow:auto;
    }
    
    .dialog-opener {
        cursor: pointer;
    }
    
    .ui-widget-header {
        border: 0px solid black;
        border-bottom: 1px solid #ccc;
        background: #cde;
    }
    
    .highlight .hll { background-color: #ffffcc }
    .highlight .c { color: #BC9458; font-style: italic} /* Comment */
    .highlight .err { color: #E6E1DC} /* Error */
    .highlight .k { color: #CC7833} /* Keyword */
    .highlight .kn { color: #CC7833; font-weight: bold} /* Keyword.Namespace */
    .highlight .s { color: #A5C261} /* Literal.String */
</style>
{% endblock %}

{% block body %}
{% include name %}

{% endblock %}